.new_quiz_base {
    width: 80vw;
    height: 100vh;

    margin: 0 auto;
    padding: 0;
}

.new_quiz_base .new-quiz-header h1 {
	text-align: center;
}

.new-quiz_base .description {
	margin-bottom: 30px;
	
	text-align: center;
}

.delete-res {
    margin-left: 2px;
    color: #fff;
    padding: 2px 6px;
    background-color: #FC6A6A;
    border-radius: 100%;
}