<div class="quizzes_base">

	<div class="col-xs-12 col-sm-6 col-md-9">
		<div class="row panel panel-default">
			<button type="button" class="col-md-12 btn btn-default" ui-sref="admin.new-quiz">Add Quiz</button>
		</div>

		<div class="row panel panel-primary">

			<div class="panel-heading">Quizzes</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped">
					<thead>
					<tr>
						<th>Name</th>
						<th>Passrate</th>
						<th>Resources</th>
						<th>Created At</th>
						<th>Updated At</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="quiz in quizzes">
						<th><a ui-sref="admin.quiz({id: quiz.id})">{{ quiz.title }}</a> </th>
						<td>{{ quiz.passrate }}</td>
						<td>{{ quiz.resource }}</td>
						<td>{{ quiz.createdAt }}</td>
						<td>{{ quiz.updatedAt }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
