<p ng-message="required">This field is required</p>
<p ng-message="minlength">This field is too short</p>
<p ng-message="maxlength">This field is too long</p>
<p ng-message="email">This email you entered contains invalid characters</p>
<p ng-message="min">This value is too small</p>
<p ng-message="max">This value is too big</p>
<p ng-message="pattern">The value you entered is invalid. Only integer values accepted.</p>