<div ng-controller="top-menu-admin-page-controller">
	<div class="row panel panel-default">
		<h1 style="text-align: center; color: #337ab7;">Top Menu Builder</h1>
	</div>
	
	<menu-builder></menu-builder>
</div>
