<div ng-controller="articles-admin-page-controller" class="articles-admin-page-base">
	<div class="panel panel-default action-bar">
		<button type="button" class="btn btn-warning btn-sm" ng-click="exportArticles()">
		  <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Export
		</button>
		<button type="button" class="btn btn-info btn-sm" ui-sref="new-article">
		  <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Create Article
		</button>
		<button type="button" class="btn btn-success btn-sm" ui-sref="new-page">
		  <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Create Article
		</button>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">Articles</div>
		<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
			<tr ng-repeat="article in $data">
				<td title="'title'" sortable="'title'">{{article.title}}</td>
				<td title="'Sticky?'" sortable="'sticky'">
					<span class="glyphicon" ng-class="stickyClass(article.sticky)" aria-hidden="true">
				</td>
				<td title="'Page'" sortable="'string'">{{article.pageName}}</td>
				<td title="'Created At'" sortable="'createdAt'">{{article.createdAt | date: 'dd-MM-yyyy HH:mm'}}</td>
				<td title="'Updated At'" sortable="'updatedAt'">{{article.updatedAt | date: 'dd-MM-yyyy HH:mm'}}</td>
				<td title="'Actions'">
					<span class="glyphicon glyphicon-edit" aria-hidden="true" ui-sref="update-article({ article: article.url })"></span>
					<span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteArticle($index, article)"></span>
				</td>
			</tr>
		</table>
	</div>
</div>
