<div>
    <div style="height:100%;">
        <carousel interval="myInterval" no-wrap="noWrapSlides">
            <slide ng-repeat="slide in slides" active="slide.active" style=" height:100%; max-height:300px;">
                <img ng-src="{{slide.picture}}" ng-click="clickMe(slide.url)" class="img-responsive">
                <div class="carousel-caption">
                    {{slide.content}}
                </div>
            </slide>
        </carousel>
    </div>
</div>