[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html,body{
    height:100%;
	font-family: 'Open Sans', sans-serif !important;
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 150px;    /* height of footer */
}

#footer{
    height: 100px;
    width:100%;
    position: relative;
    left: 0;
    bottom: 0;
}

#footer-right > p,
#footer-left > p,
#footer-right > p > a{
    color: white;
}

#footer-right > p > a:hover{
    color: #bd194a;
}

.panel-heading:hover{
    cursor: pointer;
}


.containerWithPadding{
    padding: 10px;
    margin: 10px;
}

.text-color-custom{
    color: #bd194a;
}
a.text-color-custom:hover{
    color: #bd194a;
    text-decoration: underline;
}

.background-color-custom{
    background-color: #bd194a;
    color: white;
}

a{
    color: #bd194a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #bd194a;
    font-weight:bold;
}

.collapse.am-collapse {
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  overflow: hidden;
  &.in-remove {
    animation-name: collapse;
    display: block;
  }
  &.in-add {
    animation-name: expand;
  }
}

## Sticky Footer

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}