.validate_email_base {
    width: 80vw;
    height: 100vh;

    margin: 0 auto;
    padding: 0;
}

.validate_email_base .page-header h1 {
	text-align: center;
}

.validate_email_base select, .validate_email_base button {
	width: 100%;
}

.validate_email_base .row {
	margin-bottom: 10px;
}