<div class="validate_email_base">
	<div ng-show="success" class="row alert alert-success alert-dismissible" role="alert">Email verified</div>
	<div ng-show="error" class="row alert alert-danger alert-dismissible" role="alert">{{ error }}</div>
</div>