<div ng-controller="user-roles-admin-page-controller" class="user-roles-admin-page-base">
	<div class="panel panel-primary">
		<div class="panel-heading">User Roles</div>
		<table class="table">
			<thead>
				<tr>
					<th min-width="150px">User Role</th>
					<th>Admin</th>
					<th>Users</th>
					<th>Pages</th>
					<th>Events</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tr ng-repeat="role in roles" ng-class="(editRole === $index) ? 'add-role-row' : ''">
				<td>{{ role.name }}</td>
				<td>
					<span ng-if="editRole !== $index" class="glyphicon" ng-class="permissionClass(role.adminAccess)" aria-hidden="true"></span>
					<permissions-checkbox ng-if="editRole === $index" ng-model="role.adminAccess" />
				</td>
				<td>
					<span ng-if="editRole !== $index" class="glyphicon" ng-class="permissionClass(role.manageUsers)"aria-hidden="true"></span>
					<permissions-checkbox ng-if="editRole === $index" ng-model="role.manageUsers" />
				</td>
				<td>
					<span ng-if="editRole !== $index" class="glyphicon" ng-class="permissionClass(role.managePages)" aria-hidden="true"></span>
					<permissions-checkbox ng-if="editRole === $index" ng-model="role.managePages" />
				</td>
				<td>
					<span ng-if="editRole !== $index" class="glyphicon" ng-class="permissionClass(role.manageEvents)" aria-hidden="true"></span>
					<permissions-checkbox ng-if="editRole === $index" ng-model="role.manageEvents" />
				</td>
				<td>
					<button ng-if="editRole === $index" type="button" class="btn btn-primary" ng-click="saveUserRole($index)">Save</button>
					<button ng-if="editRole === $index" type="button" class="btn btn-default" ng-click="editMode(null)">Cancel</button>
					<span ng-if="editRole !== $index" class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="editMode($index)"></span>
					<span ng-if="editRole !== $index" class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteUserRole($index)"></span>
				</td>
			</tr>
			<tr class="add-role-row" ng-if="editRole === null">
				<td><input type="text" class="form-control" placeholder="role name" aria-describedby="role-name" ng-model="newRole.name"></td>
				<td><permissions-checkbox  ng-model="newRole.adminAccess" /></td>
				<td><permissions-checkbox ng-model="newRole.manageUsers" /></td>
				<td><permissions-checkbox ng-model="newRole.managePages" /></td>
				<td><permissions-checkbox ng-model="newRole.manageEvents" /></td>
				<td><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="addUserRole()"></span></td>
			</tr>
		</table>
		
	  <div class="panel-body">
		<p><span class="action-name">Admin</span>Users in this group will be able to access the admin area.</p>
		<p><span class="action-name">Users</span>Users in this group will be able to aprove and modify the users.</p>
		<p><span class="action-name">Pages</span>Users in this group will be able to edit pages and add news to the news feed.</p>
		<p><span class="action-name">Events</span>Users in this group will be able to add and edit events.</p>
	  </div>
	</div>
</div>
