<div ng-controller="slides-admin-page-controller" class="slides-admin-page-base">
	<div class="panel panel-default action-bar">
		<button type="button" class="btn btn-info btn-sm" ui-sref="new-slide">
			<span class="glyphicon glyphicon-file" aria-hidden="true"></span> Add Slide
		</button>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">Slides</div>
		<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
			<tr ng-repeat="slide in slides">
				<td title="'type'" sortable="'type'">{{slide.type}}</td>
				<td title="'url'" sortable="'url'"><a href="{{slide.url}}" target="_blank">{{slide.url}}</a></td>
				<td title="'picture'" sortable="'picture'" style="max-width:300px;overflow:auto;"><a href="{{slide.picture}}" target="_blank">{{slide.picture}}</a></td>
				<td title="'content'" sortable="'content'">{{slide.content}}</td>
				<td title="'Created At'" sortable="'date'">{{slide.createdAt | date: 'dd-MM-yyyy HH:mm'}}</td>
				<td title="'Actions'">
					<span class="glyphicon glyphicon-edit" aria-hidden="true" ui-sref="update-slide({ slide: slide.id })"></span>
					<span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteSlide($index, slide)"></span>
				</td>
			</tr>
		</table>
	</div>
</div>
