.add-column-item {
	height: 34px;
}

.add-column-item input {
	position: relative;
	top: -1.5px;
	left: -8px;
	height: 24px;
}

.add-submenu-item {
	height: 30px;
}

.add-submenu-item select {
	float: left;
	position: relative;
	left: 5px;
	width: 80%;
}

.add-submenu-item span {
	float: left;
	position: relative;
	top: 10px;
	text-align: center;
	width: 100%;
}