<div class="menu_builder_base">
	<div ng-show="success" class="row alert alert-success alert-dismissible" role="alert">Menu has been updated successfully</div>
	<!-- Split button -->
	<div class="btn-group">
		<div class="btn-group" ng-repeat="item in menu track by $index">
			<button id="button-{{$index}}" placement="bottom" animation="am-flip-x" bs-popover
					auto-close="true"
					content-template="popover-template.html"
					ng-click="modify($index)"
					type="button" 
					class="btn btn-primary">{{ item.title }}</button>
			<button type="button" class="btn btn-primary" ng-click="openItem($index)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu">
			    <li placement="bottom" 
					animation="am-flip-x" 
					bs-popover
					auto-close="true"
					content-template="sub-popover-template.html" 
					container="body"
					ng-click="subModify($index)"
					ng-repeat="subitem in item.submenu track by $index"><a href="#">{{ subitem.title }}</a></li>
				<li class="add-submenu-item" 
					placement="bottom" 
					animation="am-flip-x" 
					bs-popover
					auto-close="true"
					ng-click="subModify(null)"
					content-template="sub-popover-template.html" 
					container="body">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</li>
			</ul>
		</div>
		<button placement="bottom" animation="am-flip-x" bs-popover
				auto-close="true"
				content-template="popover-template.html"
				ng-click="modify(null)"
				type="button" 
				class="btn btn-default add-column-item">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
		</button>
	</div>
	
	<br />
	<br />
	<br />
	
	<button ng-click="save()" type="button" class="btn btn-danger">
		<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 
		Save Top Bar
	</button>
	
	<script type="text/ng-template" id="popover-template.html">
		<div class="form-group" style="min-width:200px;">
			<label>Title</label>
			<input type="text" ng-model="newMenuItem.title" class="form-control">
			<label>Name</label>
			<select ng-model="newMenuItem.url" class="form-control">
				<option disabled>───── Normal Pages ─────</option>
				<option ng-repeat="page in pages" value="{{ 'page({url: \'' + page.url + '\'})' }}">{{ page.title }}</option>
				<option disabled>───── System Pages ─────</option>
				<option ng-repeat="systemPage in systemPages" value="{{ systemPage.url }}">{{ systemPage.name }}</option>
			</select>
			<label>Show if permission is: </label>
			<select ng-model="newMenuItem.permission" class="form-control">
				<option value="{{null}}" selected>Always Show</option>
				<option value="logged-in">Any Logged In Users</option>
				<option value="logged-out">Any Not Logged In Users</option>
				<option value="admin-access">Admin Access</option>
				<option value="manage-pages">Manage Pages</option>
				<option value="manage-events">Manage Events</option>
				<option value="manage-users">Manage Users</option>
				<option value="can-see-admin">Can See Admin Area</option>
			</select>
			<br />
			<button class="btn btn-default form-control" ng-click="addMenuItem(newMenuItem)">{{ (updateMode === null) ? 'Add Item' : 'Update Item' }}</button>
			<button ng-if="updateMode !== null" class="btn btn-danger form-control" ng-click="removeMenuItem(newMenuItem)">Remove Item</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="sub-popover-template.html">
		<div class="form-group" style="min-width:200px;">
			<label>Title</label>
			<input type="text" ng-model="newSubMenuItem.title" class="form-control">
			<label>Name</label>
			<select ng-model="newSubMenuItem.url" class="form-control">
				<option disabled>───── Normal Pages ─────</option>
				<option ng-repeat="page in pages" value="{{ 'page({url: \'' + page.url + '\'})' }}">{{ page.title }}</option>
				<option disabled>───── System Pages ─────</option>
				<option ng-repeat="systemPage in systemPages" value="{{ systemPage.url }}">{{ systemPage.name }}</option>
			</select>
			<label>Show if permission is: </label>
			<select ng-model="newSubMenuItem.permission" class="form-control">
				<option value="{{null}}" selected>Always Show</option>
				<option value="logged-in">Any Logged In Users</option>
				<option value="logged-out">Any Not Logged In Users</option>
				<option value="admin-access">Admin Access</option>
				<option value="manage-pages">Manage Pages</option>
				<option value="manage-events">Manage Events</option>
				<option value="manage-users">Manage Users</option>
				<option value="can-see-admin">Can See Admin Area</option>
			</select>
			<br />
			<button class="btn btn-default form-control" ng-click="addSubMenuItem(newSubMenuItem)">{{ (subUpdateMode === null) ? 'Add Sub Item' : 'Update Sub Item' }}</button>
			<button ng-if="subUpdateMode !== null" class="btn btn-danger form-control" ng-click="removeSubMenuItem(newSubMenuItem)">Remove Item</button>
		</div>
	</script>
</div>