.sidebar_base .youtube {
	width: 300px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center center;
}

.sidebar_base .panel-heading.plane {
	background: none;
	background-color: whitesmoke;
}

.sidebar_base .panel.panel-default.plane {
	border-top: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
	color: #bd194a;
	font-weight:bold;
}

.nav-tabs>li>a {
	color:#434343
}