<div class="sidebar_base">
	<tabset justified="true">
	  <tab heading="Events">
		  <div ng-modal="activePanel" bs-collapse>
		<div class="panel panel-default plane" ng-repeat="event in events| orderBy:'-startTime' | limitTo:5 ">
			<div class="panel-heading plane" bs-collapse-toggle role="tab">
				<h4 class="panel-title">{{ event.title }}</h4>
			</div>
			<div class="panel-collapse" role="tabpanel" bs-collapse-target>
				<div class="panel-body">
					<p class="text-muted">{{event.startTime| date:"dd/MM/yy HH:mm"}} &nbsp; <span class="label label-eventType label-success">{{event.eventType}}</span> &nbsp; <span class="label label-pointsPerEvent label-primary">{{event.pointsPerEvent}} Points</span></p>
					<div class="article-preview">{{ strip(event.description) | limitTo: 200 }}{{ strip(event.description).length > 200 ? '...' : '' }}</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
						<a class="text-right text-color-custom" href="/event/{{event.id}}">See full event here &rarr;</a>
					</div>
				</div>
			</div>
		</div>
		  <div class="text-right"><a class="text-color-custom" href="/events">See all events here &rarr;</a></div>
		  <br><br><br>
	  </div>
	  </tab>
		<tab heading="Calendar">
			<calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
			range-changed="reloadSource(startTime, endTime)"
			event-selected="onEventSelected(event)"></calendar>
		</tab>
	</tabset>
	<tabset justified="true">
	  <tab heading="Facebook"><facebook-feed></facebook-feed></tab>
	  <tab heading="Twitter"><twitter-feed></twitter-feed></tab>
	  <tab heading="YouTube">
		<iframe src="http://www.youtube.com/subscribe_widget?p=enterprisegym" style="overflow: hidden; height: 72px; width: 300px; border: 0;" scrolling="no" frameBorder="0">
		</iframe>

		<youtube video="T6MhAwQ64c0" class="youtube" autoplay="false"></youtube>
	  </tab>
	</tabset>
</div>