<div class="new_slide_base" style="width: 80%;margin-right: auto;margin-left: auto;">
	<div class="page-header">
	  <h1>New Slide</h1>
	</div>
	
	<div ng-show="success" class="row alert alert-success alert-dismissible" role="alert">Slide Created/Updated Successfully</div>
	<div ng-show="error" class="row alert alert-danger alert-dismissible" role="alert">{{ error }}</div>

	<input type="hidden" ng-model="slide.id">
	<div class="row">
		<div class="col-md-3">Slide Type</div>
		<div class="col-md-9">
            <select class="form-control" ng-model="slide.type">
                <option value="">---Please select---</option>
                <option value="carousel_main">carousel_main</option>
                <option value="carousel_small">carousel_small</option>
            </select>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">Slide Picture</div>
		<div class="col-md-7 hide-if-finished">
			<input id="slide-image-input" type="file" class="form-control" placeholder="Slide Picture" aria-describedby="sizing-addon3" ng-model="slide.picture">
		</div>
        <div class="col-md-2 hide-if-finished">
            <button type="button" class="btn btn-default" ng-click="uploadImage()">Upload</button>
        </div>
        <div class="col-md-9" id="image-finished" style="display:none;">
            <input type="text" class="form-control" placeholder="Slide Image" aria-describedby="sizing-addon3" ng-model="slide.picture" disabled>
        </div>
	</div>

	<div class="row">
		<div class="col-md-3">Slide Url</div>
		<div class="col-md-9">
			<input type="text" class="form-control" placeholder="Page links to" aria-describedby="sizing-addon3" ng-model="slide.url">
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">Slide Caption</div>
		<div class="col-md-9">
			<input type="text" class="form-control" placeholder="Caption(Optional)" aria-describedby="sizing-addon3" ng-model="slide.content">
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<button ng-if="!updateMode" type="button" class="btn btn-default btn-block" ng-click="saveSlide()">Create Slide</button>
			<button ng-if="updateMode" type="button" class="btn btn-default btn-block" ng-click="saveSlide()">Update Slide</button>
		</div>
	</div>
</div>