.main-carousel {
	position: relative;
	top: -20px;
	border: 1.5px solid #eee;
}

.home_base .panel-heading.plane {
	background: none;
	background-color: whitesmoke;
}

.home_base .panel.panel-default.plane {
	border-top: none;
}

.home_base {
    width: 95vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
}

.home_base .page-header h1 {
	text-align: center;
}

.home_base .preview-article {
	 overflow:hidden;
	 max-height: 300px;
}

a {
    cursor: pointer;
}

.article-preview{
    word-wrap: break-word;
}