<carousel-main class="main-carousel"></carousel-main>
<div class="home_base">
	<div class="row">
		<!--page container -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

			<!--LH COLUMN-->
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="containerWithPadding">
					<!--ABOUT/WELCOME MESSAGE-->
					<div class="row">
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-body">
									<h3>Welcome to The Enterprise Gym</h3>
									<p>
										The Enterprise Gym, is managed by students for students and supported by our experienced business patrons, runs free workshops and events to develop your enterprise skills and commercial awareness. Being able to demonstrate that you have some enterprising attributes is great whether you are applying for jobs or thinking of starting your own enterprise. Key transferable skills can really help make you stand out.
									</p>

								</div>
							</div>
						</div>
					</div>

					<!--NEWS-->
					<div class="row">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#newstab" aria-controls="newstab" role="tab" data-toggle="tab">NEWS</a></li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="newsstab">
								<!--NEWS SECTION-->
								<div class="panel-group" ng-model="multiplePanels.activePanels" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>
									<div class="panel panel-default plane" ng-repeat="article in articles | orderBy:'-createdAt' | limitTo:5 ">
										<div class="panel-heading plane"  bs-collapse-toggle role="tab">
											<h4 class="panel-title">
												{{ article.title }}
											</h4>
										</div>
										<div class="panel-collapse" role="tabpanel" bs-collapse-target>
											<div class="panel-body">
												<div class="article-preview" data-ng-bind-html="article.text"></div>
												<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-muted">
													<!--Posted: {{article.modifiedAt | date:"dd/MM/yy hh:mm"}}-->
												</div>
												<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right">
													<a class="text-right text-color-custom" href="/article/{{ article.url }}">See full article here &rarr;</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--/LH COLUMN-->

			<!--RH COLUMN-->
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="containerWithPadding">
					<sidebar></sidebar>
				</div>
			</div><!--/RH COLUMN-->
		</div>
	</div>
</div>
