.events_base{
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
}

.paddedContainer{
    margin:10px;
    padding:10px;
}

.preview-article{

}

.page-header > h1{
    text-align: center;
}


