<div class="events_base">
    <div class="row">
        <!--page container -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <!--LH COLUMN-->
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="containerWithPadding">
                    <!--<div class="page-header"><h1>Upcoming {{title}}</h1></div>-->

                    <div class="panel panel-default" ng-repeat="event in events| orderBy:'+startTime'">
                        <div class="panel-heading">
                            <h4><a class="text-color-custom" href="/event/{{ event.id }}">{{event.title}}</a></h4>
                            <h5><span class="label label-eventType label-success">{{event.eventType}}</span> <span class="label label-pointsPerEvent label-primary">{{event.pointsPerEvent}} POINTS</span> </h5>
                            <p>{{event.startTime | date:"EEEE, d MMMM yyyy - h:mma"}}</p>
                        </div>

                        <div class="panel-body preview-article" data-ng-bind-html="event.description"></div> <!--should be summary-->
                        <div class="panel-footer">
                            <p>
                                <span data-ng-bind-html="event.workshopHosts"></span><a type="button" class="pull-right btn btn-xs btn-primary" href="/event/{{event.id}}#signup">Go to Event Page</a>
                            </p>
                                <!--Anchor link to sign up area not working, goes to right page just not to the anchor area at bottom-->
                        </div>
                    </div>
                </div>
            </div>


            <!--RH COLUMN-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="containerWithPadding">
                    <!--UPCOMING EVENTS AND CALENDAR-->
                    <sidebar></sidebar>
                </div>
            </div>
        </div>
    </div>
</div>
