<div ng-controller="options-admin-page-controller">
	<div class="row panel panel-default">
		<h1 style="text-align: center;">
			Options
		</h1>
	</div>
	
	<div ng-show="success" class="row alert alert-success alert-dismissible" role="alert">{{ success }}</div>
	<div ng-show="error" class="row alert alert-danger alert-dismissible" role="alert">{{ error }}</div>
	
	<div class="input-group">
		<span class="form-control">Reset the points for all the users for this academic year.</span>
		<span class="input-group-btn">
			<button class="btn btn-danger" type="button" ng-click="resetUsersPoints()">Reset Points</button>
		</span>
	</div>
</div>
