<!DOCTYPE html>
<html ng-app="EnterpriseGymApp">
<head>
    <meta charset="utf-8">
    <base href="/">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Enterprise Gym</title>

    <meta name="description" content="Exercising Business Creativity">
    <meta name="viewport" content="width=device-width">

    <!-- Global Styles -->
	<link rel="stylesheet" href="components/open-sans/css/open-sans.min.css">

    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="components/ng-responsive-calendar/dist/css/calendar.min.css"/>
    <link rel="stylesheet" href="css/global.css" media="screen" title="main view style" charset="utf-8">

    <!-- Font Awesome Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Directive Styles -->
    <link rel="stylesheet" href="directives/hamburger_menu/hamburger_menu.style.css"/>
	<link rel="stylesheet" href="directives/menu_builder/menu_builder.style.css"/>
	<link rel="stylesheet" href="directives/sidebar/sidebar.style.css"/>
    <link rel="stylesheet" href="components/ng-table/dist/ng-table.min.css"/>

    <!-- Error View Styles -->
    <link rel="stylesheet" href="errorViews/access_denied/access_denied.style.css"/>
    <link rel="stylesheet" href="errorViews/not_found/not_found.style.css"/>
    <link rel="stylesheet" href="errorViews/internal_error/internal_error.style.css"/>

    <!-- View Styles -->
    <link rel="stylesheet" href="views/home/home.style.css"/>
    <link rel="stylesheet" href="views/new_article/new_article.style.css"/>
    <link rel="stylesheet" href="views/new_page/new_page.style.css"/>
    <link rel="stylesheet" href="views/page/page.style.css"/>
    <link rel="stylesheet" href="views/article/article.style.css"/>
    <link rel="stylesheet" href="views/admin/admin.style.css"/>
    <link rel="stylesheet" href="views/reset_password/reset_password.style.css"/>
    <link rel="stylesheet" href="views/new_event/new_event.style.css"/>
	<link rel="stylesheet" href="views/login/login.style.css"/>
	<link rel="stylesheet" href="views/forgot_password/forgot_password.style.css"/>
	<link rel="stylesheet" href="views/event_members/members.style.css"/>
    <link rel="stylesheet" href="views/admin/templates/quizzes/quizzes.style.css" />
    <link rel="stylesheet" href="views/new_quiz/new_quiz.style.css" />
    <link rel="stylesheet" href="views/quiz/quiz.style.css" />
    <link rel="stylesheet" href="views/edit_quiz/edit_quiz.style.css" />
    <link rel="stylesheet" href="views/new_question/new_question.style.css" />
    <link rel="stylesheet" href="views/question/question.style.css" />
    <link rel="stylesheet" href="views/edit_question/edit_question.style.css" />
    <link rel="stylesheet" href="views/leaderboard/leaderboard.style.css" />
    <link rel="stylesheet" href="views/event/event.style.css"/>
    <link rel="stylesheet" href="views/quizzes/quizzes.style.css" />
    <link rel="stylesheet" href="views/events/events.style.css"/>
	<link rel="stylesheet" href="views/validate_email/validate_email.style.css"/>
    <link rel="stylesheet" href="views/take_quiz/take_quiz.style.css"/>
    <link rel="stylesheet" href="views/quizInfoPage/quizInfoPage.style.css"/>
    <link rel="stylesheet" href="views/user_profile/user_profile.style.css" />
    <link rel="stylesheet" href="views/leaderboard/leaderboard.style.css" />
	<link rel="stylesheet" href="views/calendar/calendar.style.css" />
		<link rel="stylesheet" href="views/news/news.style.css" />
		
    <!-- Admin Page Template Styles -->
    <link rel="stylesheet" href="views/admin/templates/user_roles/user_roles.style.css"/>
    <link rel="stylesheet" href="views/admin/templates/pages/pages.style.css"/>
    <link rel="stylesheet" href="views/admin/templates/articles/articles.style.css"/>
    <link rel="stylesheet" href="views/admin/templates/events/events.style.css"/>
	<link rel="stylesheet" href="views/admin/templates/users/users.style.css"/>
    <link rel="stylesheet" href="views/admin/templates/events/events.style.css"/>
	<link rel="stylesheet" href="views/admin/templates/user_points/user_points.style.css"/>
	<link rel="stylesheet" href="views/admin/templates/user_point_record/user_point_record.style.css"/>
	<link rel="stylesheet" href="views/admin/templates/user_point_types/user_point_types.style.css"/>
</head>
<body ng-controller="index-controller" class="Site">
<div id="holder">
    <hamburger-menu></hamburger-menu>


    <main class="Site-content" ui-view id="body"></main>

    <!--Does not add footer to pages on admin side-->
    <footer id="footer" ng-cloak ng-if="!isAdminPage" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navbar-inverse">
        <div class="container">
            <div id="footer-left" class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <!--<p>Copyright &copy 2015 <a href="enterprise-gym.com">The Enterprise Gym</a>. All rights reserved.-->
                <p>The Enterprise Gym
                    <br>2 Airlie Place
                    <br>University of Dundee
                    <br>DD1 4HN
                </p>
            </div>
            <div id="footer-right" class="col-lg-7 col-md-7 col-sm-7 col-xs-7 text-right">
                <p>
                    <a href="mailto:enterprise-gym@dundee.ac.uk">enterprise-gym@dundee.ac.uk</a>
                    <br>01382 384017
                    <br><a href="https://www.facebook.com/EnterpriseGym"><span class="fa fa-facebook-square fa-2x"></span></a>
                    <a href="https://twitter.com/Enterprise_Gym"><span class="fa fa-twitter-square fa-2x"></span></a>
                    <a href="https://www.linkedin.com/grps?mostPopular&gid=3278209"><span class="fa fa-linkedin-square fa-2x"></span></a>
                    <a href="http://www.youtube.com/EnterpriseGym"><span class="fa fa-youtube-square fa-2x"></span></a>
                </p>
            </div>
        </div>
    </footer>
</div>
</body>

<!--Javascript Libraries -->
<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="components/tinymce-dist/tinymce.min.js"></script>
<script type="text/javascript" src="components/crypto-js/crypto-js.js"></script>
<script type="text/javascript" src="components/bootbox.js/bootbox.js"></script>
<script type="text/javascript" src="components/crypto-js/sha512.js"></script>
<script type="text/javascript" src="components/bootbox.js/bootbox.js"></script>

<!-- Angular.js Libraries -->
<script type="text/javascript" src="components/angular/angular.min.js"></script>
<script type="text/javascript" src="components/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="components/angular-ui-tinymce/src/tinymce.js"></script>
<script type="text/javascript" src="components/ng-table/dist/ng-table.min.js"></script>
<script type="text/javascript" src="components/angular-recaptcha/release/angular-recaptcha.min.js"></script>
<script type="text/javascript" src="components/angular-strap/dist/angular-strap.min.js"></script>
<script type="text/javascript" src="components/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="components/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="components/ng-responsive-calendar/dist/js/calendar-tpls.min.js"></script>
<script type="text/javascript" src="components/angular-youtube-embed/dist/angular-youtube-embed.js"></script>

<!-- Angular App -->
<script type="text/javascript" src="js/app.angular.js"></script>

<!-- Error View Controllers -->
<script type="text/javascript" src="errorViews/access_denied/access_denied.controller.js"></script>
<script type="text/javascript" src="errorViews/not_found/not_found.controller.js"></script>
<script type="text/javascript" src="errorViews/internal_error/internal_error.controller.js"></script>

<!-- Factories -->
<script type="text/javascript" src="factory/csvExport.factory.js"></script>



<!-- Directives -->
<script type="text/javascript" src="directives/hamburger_menu/hamburger_menu.directive.js"></script>
<script type="text/javascript" src="directives/tinymce_wrapper/tinymce_wrapper.directive.js"></script>
<script type="text/javascript" src="directives/menu_builder/menu_builder.directive.js"></script>
<script type="text/javascript" src="directives/permissions_checkbox/permissions_checkbox.directive.js"></script>
<script type="text/javascript" src="directives/twitter_feed/twitter_feed.directive.js"></script>
<script type="text/javascript" src="directives/facebook_feed/facebook_feed.directive.js"></script>
<script type="text/javascript" src="directives/carousel_main/carousel_main.directive.js"></script>
<script type="text/javascript" src="directives/carousel_small/carousel_small.directive.js"></script>
<script type="text/javascript" src="directives/sidebar/sidebar.directive.js"></script>


<!-- View Controllers -->
<script type="text/javascript" src="views/home/home.controller.js"></script>
<script type="text/javascript" src="views/new_article/new_article.controller.js"></script>
<script type="text/javascript" src="views/new_page/new_page.controller.js"></script>
<script type="text/javascript" src="views/page/page.controller.js"></script>
<script type="text/javascript" src="views/article/article.controller.js"></script>
<script type="text/javascript" src="views/admin/admin.controller.js"></script>
<script type="text/javascript" src="views/events/events.controller.js"></script>
<script type="text/javascript" src="views/new_event/new_event.controller.js"></script>
<script type="text/javascript" src="views/event/event.controller.js"></script>
<script type="text/javascript" src="views/reset_password/reset_password.controller.js"></script>
<script type="text/javascript" src="views/registration/registration.controller.js"></script>
<script type="text/javascript" src="views/login/login.controller.js"></script>
<script type="text/javascript" src="views/forgot_password/forgot_password.controller.js"></script>
<script type="text/javascript" src="views/event_members/members.controller.js"></script>
<script type="text/javascript" src="views/admin/templates/quizzes/quizzes.controller.js"></script>
	<script type="text/javascript" src="views/new_quiz/new_quiz.controller.js"></script>
	<script type="text/javascript" src="views/quiz/quiz.controller.js"></script>
	<script type="text/javascript" src="views/edit_quiz/edit_quiz.controller.js"></script>
	<script type="text/javascript" src="views/new_question/new_question.controller.js"></script>
	<script type="text/javascript" src="views/question/question.controller.js"></script>
	<script type="text/javascript" src="views/edit_question/edit_question.controller.js"></script>
    <script type="text/javascript" src="views/quizzes/quizzes.controller.js"></script>
    <script type="text/javascript" src="views/user_profile/user_profile.controller.js"></script>
<script type="text/javascript" src="views/validate_email/validate_email.controller.js"></script>
<script type="text/javascript" src="views/take_quiz/take_quiz.controller.js"></script>
    <script type="text/javascript" src="views/quizInfoPage/quizInfoPage.controller.js"></script>
<script type="text/javascript" src="views/calendar/calendar.controller.js"></script>
<script type="text/javascript" src="views/news/news.controller.js"></script>


<!-- Admin Page Template Controllers -->
<script type="text/javascript" src="views/admin/templates/articles/articles.controller.js"></script>
<script type="text/javascript" src="views/admin/templates/pages/pages.controller.js"></script>
<script type="text/javascript" src="views/admin/templates/events/events.controller.js"></script>
<script type="text/javascript" src="views/admin/templates/users/users.controller.js"></script>
<script type="text/javascript" src="views/admin/templates/options/options.controller.js"></script>
<script type="text/javascript" src="views/admin/templates/user_roles/user_roles.controller.js"></script>
<script type="text/javascript" src="views/admin/templates/top_menu/top_menu.controller.js"></script>
<script type="text/javascript" src="views/admin/templates/events/events.controller.js"></script>
<script type="text/javascript" src="views/event/event.controller.js"></script>
<script type="text/javascript" src="views/leaderboard/leaderboard.controller.js"></script>
<script type="text/javascript" src="views/admin/templates/user_points/user_points.controller.js"></script>
<script type="text/javascript" src="views/admin/templates/user_point_record/user_point_record.controller.js"></script>
<script type="text/javascript" src="views/admin/templates/user_point_types/user_point_types.controller.js"></script>
<script type="text/javascript" src="views/admin/templates/new_slide/new_slide.controller.js"></script>
<script type="text/javascript" src="views/admin/templates/slider/slider.controller.js"></script>

<!-- External libraries -->
<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
</html>
