
<div class="quizzes_base">
	<div class="col-xs-12 col-sm-6 col-md-9">
		<div ng-show="error" class="row alert alert-danger alert-dismissible" role="alert">
			{{ error }}
		</div>
		<div class="row panel panel-primary" ng-if="!error">
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>
								Quizzes you have taken
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>
								Quiz
							</th>
							<th>
								Status
							</th>
							<th>
								Score
							</th>
						</tr>
						<tr ng-repeat="quiz in quizzesTaken">
							<td ui-sref="user.quiz({id: quiz.id})">
								{{ quiz.title }}
							</td>
							<td ui-sref="user.quiz({id: quiz.id})">
								{{ quiz.status }}
							</td>
							<td ui-sref="user.quiz({id: quiz.id})">
								{{ quiz.result }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row panel panel-primary">
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>
								All quizzes
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="quiz in quizzes">
							<td ui-sref="user.quiz({id: quiz.id})">
								{{ quiz.title }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

