.quizzes_base {
    width: 95vw;
    height: 100vh;

    margin: 0 auto;
    padding: 0;
}

.quizzes_base .quizzes-header h1 {
    
	text-align: center;
}

.quizzes_base .description {
	margin-bottom: 30px;
	
	text-align: center;
}
