<div ng-controller="pages-admin-page-controller" class="pages-admin-page-base">
	<div class="panel panel-default action-bar">
		<button type="button" class="btn btn-warning btn-sm" ng-click="exportPages()">
		  <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Export
		</button>
		<button type="button" class="btn btn-info btn-sm" ui-sref="new-article">
		  <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Create Article
		</button>
		<button type="button" class="btn btn-success btn-sm" ui-sref="new-page">
		  <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Create Page
		</button>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading">Pages</div>
		<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
			<tr ng-repeat="page in $data">
				<td title="'title'" sortable="'title'">{{page.title}}</td>
				<td title="'Page Type'">
					{{ ((page.newsFeed ? 'News Feed' : null ) || (page.hasQuizes ? 'Quizes' : null ) || 'Information') }}
				</td>
				<td title="'Created At'" sortable="'date'">{{page.createdAt | date: 'dd-MM-yyyy HH:mm'}}</td>
				<td title="'Updated At'" sortable="'updatedAt'">{{page.updatedAt | date: 'dd-MM-yyyy HH:mm'}}</td>
				<td title="'Actions'">
					<span class="glyphicon glyphicon-edit" aria-hidden="true" ui-sref="update-page({ page: page.url })"></span>
					<span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="deletePage($index, page)"></span>
				</td>
			</tr>
		</table>
	</div>
</div>
