.pages-admin-page-base td, .pages-admin-page-base th, .pages-admin-page-base .panel-heading  {
	text-align: center;
}

.pages-admin-page-base .action-bar {
	text-align: right;
}

.pages-admin-page-base .ng-table-pager {
	margin-top: 10px;
}