<div ng-controller="user-points-admin-page-controller" class="users-admin-page-base">
	<div class="panel panel-default action-bar">
		<button type="button" class="btn btn-warning btn-sm" ng-click="exportLeaderboard()">
		  <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Export
		</button>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading">Leaderboard</div>
		<table ng-table-dynamic="tableParams with tableCols" class="table table-condensed table-bordered table-striped" show-filter="false">
			<tr ng-repeat="row in $data">
				<td ng-repeat="col in $columns">{{row[col.field]}}</td>
			</tr>
		</table>
	</div>
</div>
