<div class= "event_base">
    <div class="row">
        <!--page container -->
    <div ng-show="error" class="row alert alert-danger alert-dismissible" role="alert">{{ error }}</div>
    <div ng-show="success" class="row alert alert-success alert-dismissible" role="alert">Success</div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <!--LH COLUMN-->
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <div class="containerWithPadding">
                      <div class="panel panel-default">
                        <div class = 'panel-heading event-heading'> <!--was page-header-->
                              <h4>{{event.title}}</h4>
                              <h5><span class="label label-eventType label-success">{{event.eventType}}</span> <span class="label label-pointsPerEvent label-primary">{{event.pointsPerEvent}} POINTS</span> </h5>
                              <p>
                                  {{event.startTime | date:"EEEE, d MMMM yyyy - h:mma"}}
                              <br>
                                  {{event.workshopHosts}}
                              </p>
                          </div><!--end panel heading-->
                        <div class="panel-body">
                                <img class="center-block img-responsive" ng-src={{event.image}} onerror="this.src='http://cdn.getforge.com/hammerformac.com/1440113672/docs/images/400x300.gif'">
                                <br>
                                <div data-ng-bind-html="event.description"></div>
                            </div>
                        <div class="panel-footer">
                              <div ng-show="isLoggedIn"><!--Shown when user is logged in-->
                                  <button class="btn btn-block btn-primary" ng-click="saveEvent()">Sign Up</button>
                                  <br>
                              </div>
                              <div>
                                  <h4>Attendees:</h4>
                                  <ul class="list-group">
                                      <li class="list-group-item" ng-repeat="attendance in eventAttendance">
                                          <p>Name: {{attendance.attendeeName}} </p>
                                      </li>
                                  </ul>
                              </div>

                              <!--When the user is not logged in show this paragraph-->
                              <p ng-hide="isLoggedIn" >Please <a href="/user/login">login</a> or <a href="/user/register">register</a> to sign up for this event.</p>
                            </div>
                      </div>
                  </div>
              </div>

            <!--RH COLUMN-->
             <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="containerWithPadding">
                    <!--UPCOMING EVENTS AND CALENDAR-->
                    <sidebar></sidebar>
                </div>
             </div>
        </div>
    </div>
</div>
