<div ng-controller="user-point-types-admin-page-controller" class="user-point-types-admin-page-base">
	<div class="panel panel-primary">
		<div class="panel-heading">User Point Types</div>
		<table class="table">
			<thead>
				<tr>
					<th min-width="150px">Point Type</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tr ng-repeat="pointType in pointTypes" ng-class="(editPointType === $index) ? 'add-point-type-row' : ''">
				<td>
					<span ng-if="editPointType !== $index" aria-hidden="true">{{ pointType.name }}</span>
					<input type="text" ng-if="editPointType === $index" ng-model="pointType.name" />
				</td>
				<td>
					<button ng-if="editPointType === $index" type="button" class="btn btn-primary" ng-click="saveUserPointType($index)">Save</button>
					<button ng-if="editPointType === $index" type="button" class="btn btn-default" ng-click="editMode(null)">Cancel</button>
					<span ng-if="editPointType !== $index" class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="editMode($index)"></span>
					<span ng-if="editPointType !== $index" class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteUserPointType($index)"></span>
				</td>
			</tr>
			<tr class="add-point-type-row" ng-if="editPointType === null">
				<td><input type="text" class="form-control" placeholder="Point Type Name" aria-describedby="point-type-name" ng-model="newPointType.name"></td>
				<td><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="addUserPointType()"></span></td>
			</tr>
		</table>
	</div>
</div>
