.user-point-types-admin-page-base td, .user-point-types-admin-page-base th, .user-point-types-admin-page-base .panel-heading {
	text-align: center;
}

.user-point-types-admin-page-base .add-point-type-row {
	background-color: rgb(242, 242, 242);
}

.user-point-types-admin-page-base .action-title {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.user-point-types-admin-page-base .panel-body .action-name {
	font-weight: bold;
	margin-right: 20px;
}

.user-point-types-admin-page-base .glyphicon-plus-sign{
	position: relative;
	top: 5px;
	width: 34px;
	height: 24px;
	font-size: 25px;
}