<div class="quiz_base">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-9 " >
			<div class="row panel panel-primary">
					<div class="panel-heading">{{ quiz.title }}</div>
				<div class="panel-body">
					<h3>Description</h3>
					<p data-ng-bind-html="quiz.description"></p>

					<h3>Passrate</h3>
					<p data-ng-bind-html="quiz.passrate"></p>
					<h3>Resources</h3>
					<ul>
						<li ng-repeat="res in quiz.resource">
							<a href="{{res}}" TARGET="_blank">{{res}}</a>
						</li>
					</ul>
					<table class="table table-condensed table-bordered table-striped">
						<thead>
						<tr>
							<th>#</th>
							<th>Question</th>
							<th>Created At</th>
							<th>Updated At</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="question in questions track by $index">
							<th>{{$index +1}}</th>
							<th><a ui-sref="admin.question({id:question.id})">{{ question.question}}</a> </th>
							<td>{{ question.createdAt }}</td>
							<td>{{ question.updatedAt }}</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-default col-md-offset-3" ui-sref="admin.quizzes">Back</button>
					<button type="button" class="btn btn-default" ng-click="deleteQuiz()">Delete quiz</button>
					<button type="button" class="btn btn-default" ui-sref="admin.edit-quiz({id: quiz.id})" >Edit quiz</button>
					<button type="button" class="btn btn-default" ui-sref="admin.new-question({id: quiz.id})">Add question</button>

				</div>

			</div>
		</div>
	</div>
</div>