.new_event_base {
    width: 80vw;
    height: 100vh;

    margin: 0 auto;
    padding: 0;
}

.new_event_base .page-header h1 {
    text-align: center;
}

.new_event_base select, .new_article_base button {
    width: 100%;
}

.new_event_base .input-group-addon {
    min-width: 150px;
}

.new_article_base .row {
    margin-bottom: 10px;
}