<div class="new_event_base">
    <div class="page-header">
        <h1 ng-if="!updateMode">New Event</h1>
        <h1 ng-if="updateMode">Update Event</h1>
    </div>

    <div ng-show="error" class="row alert alert-danger alert-dismissible" role="alert">{{ error }}</div>
    <div ng-show="success" class="row alert alert-success alert-dismissible" role="alert">Success</div>

 <form name="newEventForm" novalidate>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">Event Title</div>
        <div class="form-group col-lg-10 col md-10 col-sm-10 col-xs-12" ng-class="{ 'has-error': newEventForm.title.$touched && newEventForm.title.$invalid }">
            <input type="text" name="title" class="form-control" placeholder="Event Title" aria-describedby="sizing-addon3" ng-model="event.title" ng-minlength="2" ng-maxlength="100" required>
            <div class="help-block" ng-messages="newEventForm.title.$error" ng-if="newEventForm.title.$touched">
                <div ng-messages-include="messages/messages-en.html"></div>
            </div>
        </div>
    </div>

    <!--Ideally , the list of event types should be retrieved from the DB-->
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">Event Type</div>
        <div class="col-lg-10 col md-10 col-sm-10 col-xs-12">
            <div class="input-group">
                <div ng-repeat="eventType in eventTypes">
                <div class="radio">
                    <label>
                        <input type="radio" ng-value="eventType" aria-describedby="sizing-addon3" ng-model="event.eventType" ng-required="!event.eventType">{{eventType.name}}
                    </label>
                    &nbsp &nbsp
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">Points per event</div>
        <div class="form-group col-lg-10 col md-10 col-sm-10 col-xs-12" ng-class="{ 'has-error': newEventForm.points.$touched && newEventForm.points.$invalid }">
            <input type="number" name="points" class="form-control" placeholder="0-100" aria-describedby="sizing-addon3" ng-model="event.pointsPerEvent"  min="0" max="100" required ng-pattern="/^[0-9]+$/" > <!--unsure how to make integer only-->
            <div class="help-block" ng-messages="newEventForm.points.$error" ng-if="newEventForm.points.$touched">
                <div ng-messages-include="messages/messages-en.html"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">Start time</div>
        <div class="form-group col-lg-10 col md-10 col-sm-10 col-xs-12">
            <input type="datetime-local" class="form-control" aria-describedby="sizing-addon3" ng-model="event.startTime" required>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">End time</div>
        <div class="form-group col-lg-10 col md-10 col-sm-10 col-xs-12">
            <input type="datetime-local" class="form-control" aria-describedby="sizing-addon3" ng-model="event.endTime" required>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">Workshop hosts</div>
        <div class="form-group col-lg-10 col md-10 col-sm-10 col-xs-12" ng-class="{ 'has-error': newEventForm.workshopHost.$touched && newEventForm.workshopHost.$invalid }">
            <input type="text" name="workshopHost" class="form-control" placeholder="Workshop Host Name" aria-describedby="sizing-addon3" ng-model="event.workshopHosts" ng-minlength="2" ng-maxlength="100" required>
            <div class="help-block" ng-messages="newEventForm.workshopHost.$error" ng-if="newEventForm.workshopHost.$touched">
                <div ng-messages-include="messages/messages-en.html"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-*">
            <textarea name="description" ui-tinymce="tinymceOptions" ng-model="event.description" ng-required="!event.description" required></textarea>
        </div>
        <div class="help-block" ng-messages="newEventForm.description.$error" ng-if="newEventForm.description.$touched">
            <div ng-messages-include="messages/messages-en.html"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-*">
            <button type="button" class="btn btn-default" ng-disabled="newEventForm.$invalid" ng-click="createEvent()">Create Event</button>
            <button ng-if="updateMode" type="button" class="btn btn-default" ng-click="createEvent()">Update Event</button>
        </div>
        <br>
    </div>
 </form>
</div>
