<div class="user_profile_base_bg">
	<br>
	<div class="container user_profile_base">
	  <div class="row">
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	      <div class="panel panel-default">
	        <div class="panel-body">
	          <div class="row">
	            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lead">{{ user.firstName + ' ' + user.secondName }}'s Profile<hr></div>
	          </div>
	          <div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
	              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none; 
	              display:block; margin:auto;" ng-src="{{ avatar }}">
	            </div>
	            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
	              <div class="row">
	                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                  <h1 class="only-bottom-margin">{{ user.username }}</h1>
	                </div>
	              </div>
	              <div class="row">
	                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
	                  <b class="text-muted">Email:</b> {{ user.email }}<br>
	                  <b class="text-muted">Country:</b> {{ user.country }}<br>
					  <b class="text-muted">University:</b> {{ user.university }}<br>
					  <b class="text-muted">Status:</b> {{ user.status }}<br>
					  <b class="text-muted">College:</b> {{ user.college }}<br>
					  <b class="text-muted">Degree:</b> {{ user.degree }}<br>
					  <b class="text-muted">Year:</b> {{ user.year }}<br>
					  <b class="text-muted">Matric No:</b> {{ user.matriculation }}<br>
					  <b class="text-muted">Member of Society:</b> {{ (user.memberOfSociety ? 'Yes' : 'No') }}<br><br>
	                </div>
	                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
  	                  <div class="activity-mini">
  	                    <b><i class="glyphicon glyphicon-star text-muted"></i> {{ user.points + ' Total Points'}}</b>
  	                  </div>
					  <br />
					   <br />
	                  <div class="activity-mini" ng-repeat="record in user.pointSummary">
	                    <i class="glyphicon glyphicon-star text-muted"></i> {{ record.points + ' ' + record.pointType + ' Points'}}<br>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="row">
				  <h4>How close to get a Silver or a Golden Star?</h4>
				  <hr />
				<div class="progress">
					<div class="progress-bar progress-bar-gold progress-bar-striped" style="width: {{ goldenStarProggress }}%">
						<span ng-if="goldenStarProggress > 10" class="progress-bar-label">Gold Star</span>
					</div>
					<div class="progress-bar progress-bar-silver progress-bar-striped" style="width: {{ silverStarProggress }}%">
						<span ng-if="silverStarProggress > 10" class="progress-bar-label">Silver Star</span>
					</div>
				</div>
			  <div class="row assisted-events">
				   <h4>Assisted Events</h4>
				   <hr />
				  <table class="table">
					<thead>
						<tr>
							<th>Event Title</th>
							<th>Event Type</th>
							<th>Event Date</th>
							<th>Points Gained</th>
						</tr>
					</thead>
					<tr ng-repeat="event in assistedEvents">
						<td>{{ event.title }}</td>
						<td>{{ event.type }}</td>
						<td>{{ event.date }}</td>
						<td>{{ event.points }} Points</td>
					</tr>
				  </table>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>