.user_profile_base_bg {
	position: absolute;
	top: -30px;
	left: 0;
	width: 100%;
	padding-top: 50px;
	background-color: whitesmoke;
}

.user_profile_base {
    width: 80vw;
    height: 100vh;

    margin: 0 auto;
    padding: 0;
	
/*	background-color: #eaeaea;*/
	
/*	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 60px;
	background-color: #eaeaea;*/
}
.user_profile_base h4 {
	width: 100%;
	text-align: center;
}

.user_profile_base .row .lead {
	text-align: center;
}

.user_profile_base .page-header h1 {
	text-align: center;
}

.user_profile_base .description {
	margin-bottom: 30px;
	
	text-align: center;
}

.user_profile_base img.avatar {
  border: 1px solid #eee;
}

.user_profile_base .only-bottom-margin {
  margin-top: 0px;
}

.user_profile_base .activity-mini {
  padding-right: 15px;
  float: left;
}

.user_profile_base .point-types-container {
	position: relative;
	left: 2%;
	width: 96%;
}

.user_profile_base .point-types-container.panel-primary {
	border-color: #F44336;
}

.user_profile_base .point-types-container .panel-heading {
	text-align: center;
	color: #fff;
	background-color: #F44336;
	border-color: #F44336;
	background-image: linear-gradient(to bottom,#F44336 0,#AB241A 100%);
}

.user_profile_base .point-types-container .progress {
	position: relative;
	top: 10px;
	left: 2%;
	width: 96%;
}

.user_profile_base .point-types-container label {
	position: relative;
	top: 10px;
	width: 100%;
	text-align: center;
}

.user_profile_base .golden-star:before {
	color: #FFCF3B;
	font-size: 70px;
}

.user_profile_base .silver-star:before {
	color: #D0D0D0;
	font-size: 50px;
}

.user_profile_base .progress {
	height: 30px;
	border: 1px solid #9E9E9E;
	background: none;
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 30px;
}

.user_profile_base .progress-bar-silver {
	text-align: center;
	color: #000;
	background-color: #EFECEC;
	border-color: #EFECEC;
	background-image: linear-gradient(to bottom,#EFECEC 0,#E8E7E7 100%);
}

.user_profile_base .progress-bar-gold {
	text-align: center;
	color: #000;
	background-color: #FFCF3B;
	border-color: #FFCF3B;
	background-image: linear-gradient(to bottom,#FFCF3B 0,#D4AC33 100%);
}

.user_profile_base .progress-bar-label {
	position: relative;
	top: 5px;
}

.user_profile_base .assisted-events {
	position: relative;
	top: 10px;
	left: calc(15px + 2%);
	width: 96%;
}





