<div class="leaderboard_base">
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <div class="container">
        <h2>Leaderboard</h2>
        <table class="table table-bordered table-striped">
            <thead>
            <th><a href="#" ng-click="sortType = 'position'; sortReverse = !sortReverse">
                Position
                <span ng-show="sortType == 'position' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'position' && sortReverse" class="fa fa-caret-up"></span>
            </a></th>

            <th>
                <a href="#" ng-click="sortType = 'points'; sortReverse = !sortReverse">
                    Points
                    <span ng-show="sortType == 'points' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'points' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
            <a href="#" ng-click="sortType = 'firstName'; sortReverse = !sortReverse">
                First name
                <span ng-show="sortType == 'firstName' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'firstName' && sortReverse" class="fa fa-caret-up"></span>
            </a>
            </th>

            <th>
                <a href="#" ng-click="sortType = 'secondName'; sortReverse = !sortReverse">
                    Surname
                    <span ng-show="sortType == 'secondName' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'secondName' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'uni'; sortReverse = !sortReverse">
                    University
                    <span ng-show="sortType == 'uni' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'uni' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'college'; sortReverse = !sortReverse">
                    College
                    <span ng-show="sortType == 'college' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'college' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'degree'; sortReverse = !sortReverse">
                    Degree
                    <span ng-show="sortType == 'degree' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'degree' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'year'; sortReverse = !sortReverse">
                    Year
                    <span ng-show="sortType == 'year' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'year' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>

            </thead>
            <tr ng-repeat="user in leaderboard  | orderBy:sortType:sortReverse">
                <td>{{user.position}}</td>
                <td>{{user.noOfPoints}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.secondName}}</td>
                <td>{{user.university}}</td>
                <td>{{user.college}}</td>
                <td>{{user.degree}}</td>
                <td>{{user.year}}</td>
            </tr>
        </table>
    </div>
</div>