<div ng-controller="users-admin-page-controller" class="users-admin-page-base">
	<div class="panel panel-default action-bar">
		<button type="button" class="btn btn-warning btn-sm" ng-click="exportUsers()">
		  <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Export
		</button>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading">Users</div>
		<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
			<tr ng-repeat="user in $data">
				<td title="'Username'" sortable="'username'">{{user.username}}</td>
				<td title="'Email'" sortable="'email'">{{user.email}}</td>
				<!-- <td title="'First Name'" sortable="'firstName'">{{user.firstName}}</td>
				<td title="'Second Name'" sortable="'secondName'">{{user.secondName}}</td> -->
				<!-- <td title="'Country'" sortable="'country'">{{user.country}}</td>
				<td title="'University'" sortable="'university'">{{user.university}}</td>
				<td title="'Status'" sortable="'status'">{{user.status}}</td>
				<td title="'College'" sortable="'college'">{{user.college}}</td>
				<td title="'Degree'" sortable="'degree'">{{user.degree}}</td>
				<td title="'Year'" sortable="'year'">{{user.year}}</td> -->
				<td title="'Matric Nº'" sortable="'matriculation'">{{user.matriculation}}</td>
				<!-- <td title="'Member of Society'" sortable="'memberOfSociety'"> -->
					<!-- <span class="glyphicon" ng-class="boolClass(user.memberOfSociety)" aria-hidden="true"> -->
				<!-- </td> -->
				<td title="'Account Activated'" sortable="'accountActivated'">
					<span class="glyphicon" ng-class="boolClass(user.accountActivated)" aria-hidden="true">
				</td>
				<td title="'Role'" sortable="'Role'">{{user.Role}}</td>
				<td title="'Actions'">
					<span class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="modifyUser($index)"></span>
					<span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteUser($index, user)"></span>
					<span class="glyphicon glyphicon-flash" aria-hidden="true" ng-click="addPointsToUser($index, user)"></span>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="panel panel-primary" ng-if="editUser !== null">
		<div class="panel-heading">{{ users[editUser].username + ' ( ' + users[editUser].firstName + ', ' + users[editUser].secondName + ' )'}}</div>
		<div class="panel-body">
				<h3>Admin Information</h3>
                <div class="form-group col-lg-12">
                    <label for="accountActivated">Account Activated: *</label>
					<input type="checkbox" name="accountActivated" id="accountActivated" ng-model="users[editUser].accountActivated"></label>
                </div>
				
                <div class="form-group col-lg-12">
                    <label for="role">User Role: *</label>
					<select name="role" class="form-control" id="role" ng-model="users[editUser].Role" required>
						<option ng-repeat="role in userRoles">{{ role.name }}</option>
					</select>
                </div>
			
				<h3>Account Information</h3>
                <div class="form-group col-lg-12">
                    <label for="username">Username: *</label>
                    <input type="text" name="username" class="form-control" id="username" readonly value="{{users[editUser].username}}" maxlength="60" required>
                </div>

                <div class="form-group col-lg-12">
                    <label for="email">Email: *</label>
                    <input type="email" name="email" class="form-control" id="email" ng-model="users[editUser].email" maxlength="64" required>
                </div>

                <h3>Personal Information</h3>
                <div class="form-group col-lg-12">
                    <label for="firstName">First Name: *</label>
                    <input type="text" name="firstName" class="form-control" id="firstName" ng-model="users[editUser].firstName" maxlength="255" required>
                </div>

                <div class="form-group col-lg-12">
                    <label for="lastName">Last Name: *</label>
                    <input type="text" name="lastName" class="form-control" id="lastName" ng-model="users[editUser].secondName" maxlength="255" required>
                </div>

                <div class="form-group col-lg-12">
                    <label for="country">Country: *</label>
                    <select class="form-control" name="country" id="country" ng-model="users[editUser].country" required>
                        <option value="44">UK / Isle of Man / Jersey / Guernsey</option>
                        <option value="93">Afghanistan</option>
                        <option value="355">Albania</option>
                        <option value="213">Algeria</option>
                        <option value="376">Andorra</option>
                        <option value="244">Angola</option>
                        <option value="1264">Anguilla</option>
                        <option value="1268">Antigua &amp; Barbuda</option>
                        <option value="54">Argentina</option>
                        <option value="374">Armenia</option>
                        <option value="297">Aruba</option>
                        <option value="61">Australia</option>
                        <option value="43">Austria</option>
                        <option value="994">Azerbaijan</option>
                        <option value="1242">Bahamas</option>
                        <option value="973">Bahrain</option>
                        <option value="880">Bangladesh</option>
                        <option value="1246">Barbados</option>
                        <option value="375">Belarus</option>
                        <option value="32">Belgium</option>
                        <option value="501">Belize</option>
                        <option value="229">Benin</option>
                        <option value="1441">Bermuda</option>
                        <option value="975">Bhutan</option>
                        <option value="591">Bolivia</option>
                        <option value="387">Bosnia-Herzegovina</option>
                        <option value="267">Botswana</option>
                        <option value="55">Brazil</option>
                        <option value="1284">British Virgin Islands</option>
                        <option value="673">Brunei</option>
                        <option value="359">Bulgaria</option>
                        <option value="226">Burkina Faso</option>
                        <option value="257">Burundi</option>
                        <option value="855">Cambodia</option>
                        <option value="237">Cameroon</option>
                        <option value="34">Spain</option>
                        <option value="238">Cape Verde</option>
                        <option value="1345">Cayman Islands</option>
                        <option value="236">Central African Republic</option>
                        <option value="235">Chad</option>
                        <option value="56">Chile</option>
                        <option value="86">China</option>
                        <option value="57">Colombia</option>
                        <option value="269">Mayotte Island (Comoros)</option>
                        <option value="242">Congo</option>
                        <option value="243">Democratic Republic Congo</option>
                        <option value="682">Cook Islands</option>
                        <option value="385">Croatia</option>
                        <option value="53">Cuba</option>
                        <option value="357">Cyprus</option>
                        <option value="420">Czech Republic</option>
                        <option value="45">Denmark</option>
                        <option value="253">Djibouti</option>
                        <option value="1767">Dominica</option>
                        <option value="670">East Timor</option>
                        <option value="593">Ecuador</option>
                        <option value="20">Egypt</option>
                        <option value="503">El Salvador</option>
                        <option value="240">Equatorial Guinea</option>
                        <option value="372">Estonia</option>
                        <option value="251">Ethiopia</option>
                        <option value="500">Falkland Islands</option>
                        <option value="298">Faroe Islands</option>
                        <option value="679">Fiji</option>
                        <option value="358">Finland</option>
                        <option value="33">France</option>
                        <option value="594">French Guiana</option>
                        <option value="689">French Polynesia</option>
                        <option value="241">Gabon</option>
                        <option value="220">Gambia</option>
                        <option value="995">Georgia</option>
                        <option value="49">Germany</option>
                        <option value="233">Ghana</option>
                        <option value="350">Gibraltar</option>
                        <option value="881">Global Mobile Satellite</option>
                        <option value="30">Greece</option>
                        <option value="299">Greenland</option>
                        <option value="1473">Grenada</option>
                        <option value="590">Guadeloupe</option>
                        <option value="1671">Guam</option>
                        <option value="502">Guatemala</option>
                        <option value="224">Guinea</option>
                        <option value="592">Guyana</option>
                        <option value="509">Haiti</option>
                        <option value="504">Honduras</option>
                        <option value="852">HongKong</option>
                        <option value="36">Hungary</option>
                        <option value="354">Iceland</option>
                        <option value="91">India</option>
                        <option value="62">Indonesia</option>
                        <option value="98">Iran</option>
                        <option value="964">Iraq</option>
                        <option value="353">Ireland</option>
                        <option value="972">Israel</option>
                        <option value="39">Italy / Vatican City State</option>
                        <option value="225">Ivory Coast</option>
                        <option value="1876">Jamaica</option>
                        <option value="81">Japan</option>
                        <option value="962">Jordan</option>
                        <option value="254">Kenya</option>
                        <option value="82">Korea (South)</option>
                        <option value="965">Kuwait</option>
                        <option value="996">Kyrgyzstan</option>
                        <option value="856">Lao</option>
                        <option value="371">Latvia</option>
                        <option value="961">Lebanon</option>
                        <option value="266">Lesotho</option>
                        <option value="231">Liberia</option>
                        <option value="218">Libya</option>
                        <option value="423">Liechtenstein</option>
                        <option value="370">Lithuania</option>
                        <option value="352">Luxembourg</option>
                        <option value="853">Macau</option>
                        <option value="389">Macedonia</option>
                        <option value="261">Madagascar</option>
                        <option value="265">Malawi</option>
                        <option value="60">Malaysia</option>
                        <option value="960">Maldives</option>
                        <option value="223">Mali</option>
                        <option value="356">Malta</option>
                        <option value="596">Martinique</option>
                        <option value="222">Mauritania</option>
                        <option value="230">Mauritius</option>
                        <option value="52">Mexico</option>
                        <option value="373">Moldova</option>
                        <option value="377">Monaco (Kosovo)</option>
                        <option value="976">Mongolia</option>
                        <option value="382">Montenegro</option>
                        <option value="1664">Montserrat</option>
                        <option value="212">Morocco</option>
                        <option value="258">Mozambique</option>
                        <option value="95">Myanmar</option>
                        <option value="264">Namibia</option>
                        <option value="977">Nepal</option>
                        <option value="31">Netherlands</option>
                        <option value="599">Netherlands Antilles</option>
                        <option value="687">New Caledonia</option>
                        <option value="64">New Zealand</option>
                        <option value="505">Nicaragua</option>
                        <option value="227">Niger</option>
                        <option value="234">Nigeria</option>
                        <option value="47">Norway</option>
                        <option value="968">Oman</option>
                        <option value="92">Pakistan</option>
                        <option value="970">Palestine (+970)</option>
                        <option value="9725">Palestine (+9725)</option>
                        <option value="507">Panama</option>
                        <option value="675">Papua New Guinea</option>
                        <option value="595">Paraguay</option>
                        <option value="51">Peru</option>
                        <option value="63">Philippines</option>
                        <option value="48">Poland</option>
                        <option value="351">Portugal</option>
                        <option value="974">Qatar</option>
                        <option value="262">Reunion</option>
                        <option value="40">Romania</option>
                        <option value="7">Russia / Kazakhstan</option>
                        <option value="250">Rwanda</option>
                        <option value="1670">Saipan</option>
                        <option value="1684">Samoa (American)</option>
                        <option value="685">Samoa (Western)</option>
                        <option value="378">San Marino</option>
                        <option value="882">Satellite-Thuraya</option>
                        <option value="966">Saudi Arabia</option>
                        <option value="221">Senegal</option>
                        <option value="381">Serbia</option>
                        <option value="248">Seychelles</option>
                        <option value="232">Sierra Leone</option>
                        <option value="65">Singapore</option>
                        <option value="421">Slovakia</option>
                        <option value="386">Slovenia</option>
                        <option value="252">Somalia</option>
                        <option value="27">South Africa</option>
                        <option value="94">Sri Lanka</option>
                        <option value="1869">St. Kitts And Nevis</option>
                        <option value="1758">St. Lucia</option>
                        <option value="1784">St. Vincent</option>
                        <option value="249">Sudan</option>
                        <option value="597">Suriname</option>
                        <option value="268">Swaziland</option>
                        <option value="46">Sweden</option>
                        <option value="41">Switzerland</option>
                        <option value="963">Syria</option>
                        <option value="886">Taiwan</option>
                        <option value="992">Tajikistan</option>
                        <option value="255">Zanzibar</option>
                        <option value="66">Thailand</option>
                        <option value="228">Togo</option>
                        <option value="676">Tonga Islands</option>
                        <option value="1868">Trinidad and Tobago</option>
                        <option value="216">Tunisia</option>
                        <option value="90">Turkey</option>
                        <option value="993">Turkmenistan</option>
                        <option value="1649">Turks and Caicos Islands</option>
                        <option value="256">Uganda</option>
                        <option value="380">Ukraine</option>
                        <option value="971">United Arab Emirates</option>
                        <option value="598">Uruguay</option>
                        <option value="1">USA / Canada / Dominican Rep. / Puerto Rico</option>
                        <option value="998">Uzbekistan</option>
                        <option value="678">Vanuatu</option>
                        <option value="58">Venezuela</option>
                        <option value="84">Vietnam</option>
                        <option value="967">Yemen</option>
                        <option value="260">Zambia</option>
                        <option value="263">Zimbabwe</option>
                    </select>
                </div>

                <div class="form-group col-lg-12">
                    <label for="universityHEFE">University, H.E or F.E Institution: *</label>
                        <select class="form-control" name="universityHEFE" id="universityHEFE" ng-model="users[editUser].university" required>
                            <option>None</option>
                            <option>University of Dundee</option>
                            <option>University of Abertay</option>
                            <option>Dundee College</option>
                            <option>Other</option>
                        </select>
                </div>

                <div class="form-group col-lg-12">
                    <label for="status">Status: *</label>
                        <select class="form-control" name="status" id="status" ng-model="users[editUser].status" required>
                            <option>Undergraduate</option>
                            <option>Postgraduate</option>
                            <option>Graduate</option>
                            <option>Alumni</option>
                            <option>Staff</option>
                            <option>Event</option>
                            <option>Organiser</option>
                            <option>Other</option>
                            <option>None</option>
                        </select>
                </div>

                <div class="form-group col-lg-12">
                    <label for="school">Which School at the University of Dundee: *</label>
                    <select class="form-control" name="school" id="school" ng-model="users[editUser].college" required>
                        <option>Art & Design (DJCAD)</option>
                        <option>Dentistry</option>
                        <option>Education & Social Work</option>
                        <option>Humanities</option>
                        <option>Life Sciences</option>
                        <option>Medicine</option>
                        <option>Nursing & Midwifery</option>
                        <option>Physical Sciences & Engineering</option>
                        <option>Social Sciences</option>
                    </select>
                </div>

                <div class="form-group col-lg-12">
                    <label for="degreeSubject">Degree Subject: *</label>
                    <input type="text" name="degreeSubject" class="form-control" id="degreeSubject" ng-model="users[editUser].degree" maxlength="255" required>
                </div>

                <div class="form-group col-lg-12">
                    <label for="yearOfStudy">Year of Study: *</label>
                        <select class="form-control" name="yearOfStudy" id="yearOfStudy" ng-model="users[editUser].year" required>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>Postgraduate</option>
                        </select>
                </div>

                <div class="form-group col-lg-12">
                    <label for="matricNumber">Matriculation Number:</label>
                    <input type="text" name="matricNumber" class="form-control" id="matricNumber" ng-model="users[editUser].matriculation" maxlength="9">
                </div>

                <h3>Young Entrepreneurs Society</h3>
                <div class="form-group col-lg-12">
                    <label for="yes">
                        <input type="checkbox" name="yes" id="yes" ng-model="users[editUser].memberOfSociety"></label>
                </div>
				
				<button class="btn btn-default" ng-click="updateUserDetails(users[editUser])">Update Details</button>
		</div>
	</div>
</div>
