.users-admin-page-base td, .users-admin-page-base th, .users-admin-page-base .panel-heading  {
	text-align: center;
}

.users-admin-page-base .action-bar {
	text-align: right;
}

.users-admin-page-base .ng-table-pager {
	margin-top: 10px;
}

.users-admin-page-base .panel.panel-primary table {
	position: relative;
	max-width: 100%;
	overflow-left: auto;
}