<div class="page_base">
	<div class="row">
		<!--page container -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="page-header">
				<h1>{{ page.title }}</h1>
			</div>

			<!--LH COLUMN-->
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="containerWithPadding">
					<div ng-if="!page.newsFeed" data-ng-bind-html="page.text"></div>
					<div ng-if="page.newsFeed">
						<div class="description">{{ page.description }}</div>
						<div class="panel panel-default" ng-repeat="article in articles">
						  <div class="panel-heading"><a href="/article/{{ article.url }}">{{ article.title }}</a></div>
						  <div class="panel-body preview-article" data-ng-bind-html="article.text"></div>
						</div>
					</div>
					<div ng-if="page.hasQuizes">
						<br />
						<br />
						<h3>Quizzes Taken</h3>
						<ul class="list-group">
						  <li class="list-group-item" ng-repeat=" quiz in quizzesTaken track by $index" ng-class="sucess($index)">
						    <span class="badge">Your score: {{quiz.result}}%</span>
							  {{quiz.title}}
						  </li>
						</ul>
						<br />
						<br />
						<h3>All Quizzes</h3>
						<ul class="list-group">
						  <li class="list-group-item" ng-repeat="quiz in quizzes" ui-sref="quizinfo({id: quiz.id, username: username})">
						    <span class="badge">Passrate {{ quiz.passrate }}</span>
						    {{ quiz.title }}
						  </li>
						</ul>
						<br />
						<br />
					</div>
				</div>
			</div>

			<!--RH COLUMN-->
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="containerWithPadding">
					<sidebar></sidebar>
				</div>
			</div>
		</div>
	</div>
</div>
