@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.page_base {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	
    width: 95vw;
    height: 100vh;

    margin: 0 auto;
    padding: 0;
}

.page_base .page-header h1 {
	text-align: center;
}

.page_base .description {
	margin-bottom: 30px;
	
	text-align: center;
}
