<div ng-controller="events-admin-page-controller">
	<div class="panel panel-default action-bar">
		<button type="button" class="btn btn-warning btn-sm">
			<span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Export
		</button>
		<button type="button" class="btn btn-success btn-sm" ui-sref="new-event">
			<span class="glyphicon glyphicon-file" aria-hidden="true"></span> Create Event
		</button>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">Events</div>
		<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
			<tr ng-repeat="event in $data">
				<td title="'title'" sortable="'event.title'">{{event.title}}</td>
				<td title="'description'" sortable="'string'">{{ strip(event.description) | limitTo: 20 }}</td>
				<td title="'Points'" sortable="'pointsPerEvent'">{{event.pointsPerEvent}}</td>
				<td title="'Type'" sortable="'string'">{{event.eventType}}</td>
				<td title="'StartTime'" sortable="'date'">{{event.startTime | date: 'dd-MM-yyyy HH:mm'}}</td>
				<td title="'EndTime'" sortable="'date'">{{event.endTime | date: 'dd-MM-yyyy HH:mm'}}</td>
				<td title="'Hosts'" sortable="'string'">{{event.workshopHosts}}</td>
				<td title="'Actions'">
					<span class="glyphicon glyphicon-edit" aria-hidden="true" ui-sref="update-event({ event: event.id })"></span>
					<span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteEvent($index,event)"></span>
					<span class="glyphicon glyphicon-user" aria-hidden="true" ui-sref="event-members({ event: event.id})"></span>
				</td>
			</tr>
		</table>
	</div>
</div>
