.events-admin-page-base td, .events-admin-page-base th, .events-admin-page-base .panel-heading  {
    text-align: center;
}

.events-admin-page-base .action-bar {
    text-align: right;
}

.events-admin-page-base .ng-table-pager {
    margin-top: 10px;
}