<nav class="hamburger_menu_base navbar navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<a class="navbar-brand" ui-sref="home">
				<img class="logo" src="img/EnterpriseGym-Logo.png" />
				The Enterprise Gym
			</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
				<li ng-repeat="item in menu" ng-if="shouldShow(item.permission)" ng-class="item.submenu ? 'dropdown' : ''">
					<a ui-sref="{{ item.url || '#' }}" ng-if="!item.submenu">{{ item.title }}</a>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-if="item.submenu">{{ item.title }}<span class="caret"></a>
					<ul class="dropdown-menu" ng-if="item.submenu">
						<li><a ng-repeat="subitem in item.submenu" ng-if="shouldShow(subitem.permission)" ui-sref="{{ subitem.url || '#' }}">{{ subitem.title }}</a></li>
					</ul>
				</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="shouldShow('logged-out')"><a style="color:#BD194A" ui-sref="user-login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log in</a></li>
                <li ng-if="shouldShow('logged-out')"><a style="color:#BD194A" ui-sref="user-register">Register</a></li>

                <li ng-if="shouldShow('logged-in')"><a style="color:#BD194A" ng-click="openProfile()"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile </a></li>

                <li ng-if="shouldShow('logged-in')"><a style="color:#BD194A" ui-sref="user-logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log out </a></li>
                </ul>
        </div>
    </div>
</nav>