body {
	padding-top: 70px;
}

.hamburger_menu_base .logo {
	float: left;
	position: relative;
	top: -10px;
	
	margin-right: 20px;
	
	max-height: 40px;
	background: white;
}

.navbar_custom {
	margin-right: 10vw;
	padding: 0vw;

	color: #BD194A;
}

.logo_custom {
	color: #BD194A;
}