<div class="login_base">
    <div class="container">
        <div class="container-page">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div ng-if="success" class="row alert alert-success alert-dismissible" role="alert">Logged in successfully</div>
				<div ng-if="error" class="row alert alert-danger alert-dismissible" role="alert">{{ error }}</div>

                <form name="signInForm" ng-submit="signIn($event)" role="form" class="loginForm">
                    <h2 class="text-center">Account Login</h2>
                    <div class="form-group">
                        <label for="username">Username: *</label>
                        <input type="text" name="username" class="form-control" id="username" ng-model="user.username" maxlength="60" required>
                    </div>
					
                    <div class="form-group">
                        <label for="password">Password: *</label>
                        <input type="password" name="password" class="form-control" id="password" ng-model="user.password" maxlength="60" required>
                    </div>
                    <button type="submit" class="btn btn-default btn-block">Sign In</button>
					<br />
					<img style="max-width:200px;" class="center-block" src="img/sign-in-facebook.png" ng-click="facebookSignIn()" />
                </form>
            </div>
        </div>
    </div>
</div>