<div class="article_base">
	<div class="row">
		<!--page container -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

			<!--LH COLUMN-->
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="containerWithPadding">
					<div class="panel panel-default"><!--was not a panel-->
						<div class = 'panel-heading event-heading'> <!--was page-header-->
							<h4>{{article.title}}</h4>
							<p>
								{{article.createdAt | date:"EEEE, d MMMM yyyy - h:mma"}}
							</p>
						</div><!--end panel heading-->
						<div class="panel-body">
							<div data-ng-bind-html="article.text"></div>
						</div>
					</div>
				</div>
			</div><!--/LH COLUMN-->

			<!--RH COLUMN-->
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="containerWithPadding">
					<!--UPCOMING EVENTS AND CALENDAR-->
					<sidebar></sidebar>
				</div>
			</div><!--/RH COLUMN-->
		</div>
	</div>
</div>