<div class="new_question_base">
	<div class="col-xs-12 col-sm-6 col-md-9">
	<div class="new-question-header">
	  <h1>New Question</h1>
	</div>

	<div ng-show="success" class="row alert alert-success alert-dismissible" role="alert">Question Created Successfully</div>
	<div ng-show="error" class="row alert alert-danger alert-dismissible" role="alert">{{ error }}</div>

		<div class="row">
			<p class="description">Fill in the question and the alternatives in the corresponding textfield. Then select the correct answer
				by clicking on the radiobutton next to the correct alternative.
			</p>
			</div>
	<div class="row">
		<div class="col-md-3"><label for="question">question</label></div>
		<div class="col-md-9">
			<input type="text" class="form-control" id="question"placeholder="Question" aria-describedby="Question" ng-model="question.question">
		</div>
	</div>

	<div class="row">
		<div class="col-md-3"><label for="alt1">Alternative 1</label>
			<input type="radio" id="alt1" ng-model="question.answer" value="0">
		</div>
		<div class="col-md-9">
			<input type="text" class="form-control" placeholder="Alternative 1" aria-describedby="Alternatve 1" ng-model="tempalt[0]">
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"><label for="alt2">Alternative 2</label>
			<input type="radio" id="alt2"ng-model="question.answer" value="1">
		</div>
		<div class="col-md-9">
			<input type="text" class="form-control" placeholder="Alternative 2" aria-describedby="Alternatve 2" ng-model="tempalt[1]">
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"><label for="alt3">Alternative 3</label>
			<input type="radio" ng-model="question.answer" id="alt3"value="2">
		</div>
		<div class="col-md-9">
			<input type="text" class="form-control" placeholder="Alternative 3" aria-describedby="Alternatve 3" ng-model="tempalt[2]">
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"><label for="alt4">Alternative 4</label>
			<input type="radio" ng-model="question.answer" id="alt4"value="3">
		</div>
		<div class="col-md-9">
			<input type="text" class="form-control" placeholder="Alternative 4" aria-describedby="Alternatve 4" ng-model="tempalt[3]">
		</div>
	</div>



	<div class="row">
		<div class="col-md-*">
			<button type="button" class="btn btn-default" ui-sref="admin.quiz({id: question.quizID})">Back</button>
			<button type="button" class="btn btn-default" ng-click="createQuestion()">Create Question</button>
		</div>
	</div>
		</div>
</div>