/*
            take_quiz Css


*/

.take-quiz-header h1 {
    text-align: center;
}
.take_quiz_base {
    padding: 10px;
    background-color: transparent;
    min-width: 330px;
    max-width: 1200px;
    margin: 0 auto

}

.take_quiz_questionNumber {
    text-align: right;
    color: #212121;
    font-weight: 600;
    font-size: 1em;
}

.take_quiz_question_window {


}

.take_quiz_question_window_icon {
    position: relative;
    float: right;
    margin-top: -80px;
    left: 0;
    font-size: 9em;
}

.take_quiz_base ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.take_quiz_base button, .take_quiz_intro button {
    background-color: #333;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-size: 1em;
    color: #fff;
    -webkit-appearance: none;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.take_quiz_base button:hover {
    background-color: #111;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.56);
}

.take_quiz_options    {
    position:absolute;
}

.take_quiz_question_list {
    background-color: transparent;
}

.take_quiz_question_list button {
    background: #2196F3;
}

.take_quiz_question_list button:hover {
    background-color: #208ce5;
}

.take_quiz_question {
    font-size: 2em;
    background-color: transparent;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    color: #212121;
    font-weight: 700;
    margin-bottom: 0;
}
.take_quiz_wrong, .take_quiz_correct    {
    font-size:10em;
    position:absolute;
    top:-50%;
    left:50%;
    right:50%;
}

.take_quiz_correct  {
    color:#64DD17;
}

.take_quiz_wrong {
    color:#D50000;
}

/*
                Score screen

*/

.take_quiz_score_success {
    text-align: center;
    border-color:green;
    color: green;
}
.take_quiz_score_failed {
    text-align: center;
    border-color:red;
    color:red;
}



.take_quiz_score p {
    font-size: 4em;
    font-weight: 900;
}

.take_quiz_score_title   {
    border-style: solid;
    border-width: 8px;

    width:150px;
    height:90px;
    margin:0 auto;
    text-align:center;

}








/*
            File not found view
*/

.take_quiz_fileNotFound   {
    width:100%;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #F44336;
    color:#fff;
}