<div class="take_quiz_fileNotFound" ng-show="fileExists">
    <p>File not found</p>
</div>

<div class="take-quiz-header">
    <h1>{{ quiz.title }}</h1>
</div>


<div class="take_quiz_base" ng-show="inProgress">
    <div ng-show="!quizOver">
        <div ng-show="questionStatus" class='fx-fade-left fx-easing-bounce fx-speed-400'>
            <div class="take_quiz_questionNumber">
                <p>Question {{id + 1}}</p>
            </div>
        </div>

        <div class="take_quiz_question_window">
            <div ng-show="questionStatus" class='fx-fade-down fx-easing-bounce fx-speed-400'>
                <div class="take_quiz_question_window_icon">
                </div>
            </div>
            <div ng-show="questionStatus" class='fx-fade-left fx-easing-bounce fx-speed-400'>
                <p class="take_quiz_question">{{question}}</p>
                <div class="take_quiz_correct" ng-show="correctAns">
                    <i class="fa fa-check"></i>
                </div>
                <div class="take_quiz_wrong" ng-show="wrongAns">
                    <i class="fa fa-times"></i>
                </div>

            </div>
        </div>

        <div ng-show="questionStatus" class='fx-fade-right fx-easing-bounce fx-speed-400'>
            <div class="take_quiz_question_list">
                <form name="QuestionForm">
                    <ul id="options">
                        <li ng-repeat="option in options track by $index">
                            <button ng-click="checkAnswer(option)" value="{{option}}">
                                {{option}}
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

    <div ng-show="quizOver" class='fx-fade-down fx-easing-bounce fx-speed-400'>
        <div ng-show="!fileExists">
            <div class = "take_quiz_score" ng-class="result.status ? 'take_quiz_score_success': 'take_quiz_score_failed' ">
                <div class="take_quiz_score_title">
                    <h1>Result</h1>
                </div>
                <p>{{(score/id) *100}}%</p>
                <button type="button" class="btn btn-default" ng-click="backing()">Go back!</button>
            </div>
        </div>
    </div>


</div>


