.reset_password_base {
    width: 80vw;
    height: 100vh;

    margin: 0 auto;
    padding: 0;
}

.reset_password_base .page-header h1 {
	text-align: center;
}

.reset_password_base select, .reset_password_base button {
	width: 100%;
}

.reset_password_base .row {
	margin-bottom: 10px;
}