<div class="reset_password_base">
	<div class="page-header">
	  <h1>Reset Password</h1>
	</div>
	
	<div ng-show="success" class="row alert alert-success alert-dismissible" role="alert">Password Changed Successfully</div>
	<div ng-show="error" class="row alert alert-danger alert-dismissible" role="alert">{{ error }}</div>
	
	<div class="row">
		<div class="col-md-3">New Password</div>
		<div class="col-md-9">
			<input type="password" class="form-control" placeholder="Enter the new password" aria-describedby="Enter the new password" ng-model="new_password">
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">Repeat New Password</div>
		<div class="col-md-9">
			<input type="password" class="form-control" placeholder="Repeat the new password" aria-describedby="Repeat the new password" ng-model="new_password_2">
		</div>
	</div>
	
	<br />
	
	<div class="row">
		<div class="col-md-*">
			<button type="button" class="btn btn-default" ng-click="resetPassword()">Reset Password</button>
		</div>
	</div>
</div>