<div class="new_quiz_base">
	<div class="col-xs-12 col-sm-6 col-md-9">
	<div class="new-quiz-header">
	  <h1>New Quiz</h1>
	</div>

	<div ng-show="success" class="row alert alert-success alert-dismissible" role="alert">Quiz Created Successfully</div>
	<div ng-show="error" class="row alert alert-danger alert-dismissible" role="alert">{{ error }}</div>

	<div class="row">
		<div class="col-md-2">Title</div>
		<div class="col-md-10">
			<input type="text" class="form-control" placeholder="Quiz title" aria-describedby="Quiz Title" ng-model="quiz.title">
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">Description</div>
		<div class="col-md-10">
			<input type="text" class="form-control" placeholder="Quiz Description" aria-describedby="Quiz Description" ng-model="quiz.description">
		</div>
	</div>
		<div class="row">
			<div class="col-md-2">Passrate</div>
			<div class="col-md-10">
				<input type="text" class="form-control" placeholder="Ammount of correct answers to pass the test" aria-describedby="Quiz passrate" ng-model="quiz.passrate">
			</div>
		</div>


	<!-- Should be an upload function in the end -->
	<div class="row">
		<div class="col-md-2">Resources</div>
		<div class="col-md-10">

			<input type="file" id="uploadFile"  >
			<button type="button" class="btn btn-default" ng-click="uploadFile()">Upload</button>
			<ul>
				<li ng-repeat="res in tempres track by $index" id="res{{res}}">
					<a href="#">{{res}}</a>  <a ng-click="deleteItem($index)" class="delete-res">x</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-*">
			<button type="button" class="btn btn-default" ui-sref="admin.quizzes" >Back</button>
			<button type="button" class="btn btn-default" ng-click="createQuiz()">Create Quiz</button>
		</div>
	</div>
</div>
	</div>