<div class="panel panel-primary">
    <div class="panel-heading">{{event.title}}</div>
    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
        <tr>
            <td>User Name</td>
            <td>Email</td>
            <td>Full Name</td>
            <td>University</td>
            <td>College</td>
            <td>Confirm Attendance</td>
        </tr>
        <tr ng-repeat="attendeePerson in eventAttendance">
            <td>{{attendeePerson.User.username}}</td>
            <td>{{attendeePerson.User.email}}</td>
            <td>{{attendeePerson.User.firstName}} {{attendeePerson.User.secondName}}</td>
            <td>{{attendeePerson.User.university}}</td>
            <td>{{attendeePerson.User.college}}</td>
            <td><input type="checkbox" ng-change="userAttends(attendeePerson.confirmed ,attendeePerson.User.id)"  ng-model="attendeePerson.confirmed" /></td>
        </tr>
    </table>
</div>
