<div>
    <div style="height: 350px" id="carousel-small">
        <carousel interval="myInterval" no-wrap="noWrapSlides">
            <slide ng-repeat="slide in slidesSmall" active="slide.active" style="height: 350px;">
                <img ng-src="{{slide.picture}}" ng-click="clickMe(slide.url)" style="margin:auto;width:100%;height: inherit;">
                <div class="carousel-caption">
                </div>
            </slide>
        </carousel>
    </div>
</div>