<div class="forgot_password_base">
    <div class="container">
        <div class="container-page">
            <div class="col-md-6">
				<div ng-if="success" class="row alert alert-success alert-dismissible" role="alert">
					Email sent, follow the steps from the email to reset your password.
				</div>
				<div ng-if="error" class="row alert alert-danger alert-dismissible" role="alert">{{ error }}</div>

                <form name="forgotPasswordForm" ng-submit="forgot($event)" role="form">
                    <h2>Forgot Password</h2>
                    <div class="form-group col-lg-12">
                        <label for="username">email: *</label>
                        <input type="text" name="email" class="form-control" id="email" ng-model="email" maxlength="60" required>
                    </div>

                    <button type="submit" class="btn btn-default">Send email to reset password</button>
                </form>
            </div>
        </div>
    </div>
</div>