<div class="admin_base">
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<ul class="nav nav-pills nav-stacked">
				<li ng-if="role.managePages" ng-class="isActive('admin.top-menu')" role="presentation" ui-sref="admin.top-menu"><a href="#">Top Menu</a></li>
				<li ng-if="role.managePages" ng-class="isActive('admin.pages')" role="presentation" ui-sref="admin.pages"><a href="#">Pages</a></li>
				<li ng-if="role.managePages" ng-class="isActive('admin.articles')" role="presentation" ui-sref="admin.articles"><a href="#">Articles</a></li>
				<li ng-if="role.manageEvents" ng-class="isActive('admin.events')" role="presentation" ui-sref="admin.events"><a href="#">Events</a></li>
				<li ng-if="role.manageUsers" ng-class="isActive('admin.user-point-record')" role="presentation" ui-sref="admin.user-point-record"><a href="#">Point Record</a></li>
				<li ng-if="role.manageUsers" ng-class="isActive('admin.leaderboard')" role="presentation" ui-sref="admin.user-points"><a href="#">Leaderboard</a></li>
				<li ng-if="role.manageUsers" ng-class="isActive('admin.user-point-types')" role="presentation" ui-sref="admin.user-point-types"><a href="#">Point Types</a></li>
				<li ng-if="role.manageUsers" ng-class="isActive('admin.users')" role="presentation" ui-sref="admin.users"><a href="#">Users</a></li>
				<li ng-if="role.manageUsers" ng-class="isActive('admin.user-roles')" role="presentation" ui-sref="admin.user-roles"><a href="#">User Roles</a></li>
				<li ng-class="isActive('admin.quizzes')" role="presentation" ui-sref="admin.quizzes"><a href="#">Quizzes</a></li>
				<li ng-class="isActive('admin.slides')" role="presentation" ui-sref="admin.slides"><a href="#">Slider</a></li>
				<li ng-if="role.adminAccess" ng-class="isActive('admin.options')" role="presentation" ui-sref="admin.options"><a href="#">Options</a></li>
			</ul>
		</div>
		
		<!-- <div class="col-xs-12 col-sm-6 col-md-9" ng-include="template"></div> -->
		<div class="col-xs-12 col-sm-6 col-md-9" ui-view></div>
	</div>
</div>
