<div class="new_page_base">
	<div class="page-header">
	  <h1>New Page</h1>
	</div>
	
	<div ng-show="success" class="row alert alert-success alert-dismissible" role="alert">Page Created Successfully</div>
	<div ng-show="error" class="row alert alert-danger alert-dismissible" role="alert">{{ error }}</div>
	
	<div class="row">
		<div class="col-md-2">Page Name</div>
		<div class="col-md-10">
			<input type="text" class="form-control" placeholder="Page Name" aria-describedby="Page Name" ng-model="page.url">
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2">Page Title</div>
		<div class="col-md-10">
			<input type="text" class="form-control" placeholder="Page Title" aria-describedby="Page Title" ng-model="page.title">
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2">Page Description</div>
		<div class="col-md-10">
			<input type="text" class="form-control" placeholder="Page Description" aria-describedby="Page Description" ng-model="page.description">
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2">Page Type: </div>
		<div class="col-md-10">
			<select  class="form-control" ng-model="pageType">
			  <option value="0"> Information Page</option>
			  <option value="1"> News Feed</option>
			  <option value="2"> Quizzes Page</option>
			</select>
		</div>
	</div>

	<br />
	<div class="row">
		<div class="col-md-*">
			<tinymce-wrapper text="page.text"></tinymce-wrapper>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-*">
			<button ng-if="!updateMode" type="button" class="btn btn-default" ng-click="savePage()">Create Page</button>
			<button ng-if="updateMode" type="button" class="btn btn-default" ng-click="savePage()">Update Page</button>
		</div>
	</div>
</div>