.new_page_base {
    width: 80vw;
    height: 100vh;

    margin: 0 auto;
    padding: 0;
}

.new_page_base .page-header h1 {
	text-align: center;
}

.new_page_base input, .new_page_base button {
	width: 100%;
}

.new_page_base .row {
	margin-bottom: 10px;
}