<div class="news_base">
	<div class="panel panel-default" ng-repeat="article in articles | orderBy:'-createdAt' | limitTo:5 ">
		<div class="panel-heading" role="tab">
			<h4 class="panel-title">
				{{ article.title }}
			</h4>
		</div>
		<div class="panel-collapse" role="tabpanel">
			<div class="panel-body">
				<div class="article-preview" data-ng-bind-html="article.text"></div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-muted">
					<!--Posted: {{article.modifiedAt | date:"dd/MM/yy hh:mm"}}-->
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right">
					<a class="text-right" href="/article/{{ article.url }}">See full article here</a>
				</div>
			</div>
		</div>
	</div>
</div>