<div class="registration_base">
    <div class="row">
        <!--page container -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <!--LH COLUMN-->
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="containerWithPadding">
                    <div class="col-md-*">
                        <div ng-if="success" class="row alert alert-success alert-dismissible" role="alert">Registered successfully.</div>
                        <div ng-if="error" class="row alert alert-danger alert-dismissible" role="alert">{{ error }}</div>

                        <form name="registrationForm" ng-submit="register($event)" role="form">
                            <h2>{{ updateMode ? 'Update User' : 'Registration' }}</h2>
                            <h3>Account Information</h3>
                            <div class="form-group col-lg-12">
                                <label for="username">Username: *</label>
                                <input type="text" name="username" class="form-control" id="username" ng-model="newUser.username" maxlength="60" required>
                                <small>Spaces are allowed; punctuation is not allowed except for periods, hyphens, and underscores.</small>
                            </div>

                            <div class="form-group col-lg-12">
                                <label for="email">Email: *</label>
                                <input type="email" name="email" class="form-control" id="email" ng-model="newUser.email" maxlength="64" required>
                                <small>A valid e-mail address. All e-mails from the system will be sent to this address. The e-mail address is not made public and will only be used if you wish to receive a new password or wish to receive certain news or notifications by e-mail.</small>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="email">University Email: *</label>
                                <div class="form-inline">
                                    <input type="email" name="universityEmail" id="universityEmail" class="form-control" ng-model="newUser.universityEmail" maxlength="64" required />
                                    <select class="form-control" ng-model="emailSource">
                                        <option value="@dundee.ac.uk">University of Dundee Email</option>
                                        <option value="@dundeeandangus.ac.uk">Dundee College Email</option>
                                        <option value="-">Other Email</option>
                                    </select>
                                </div>
                                <small>
                                    This is your academic address.
                                    A valid e-mail address.
                                    The e-mail address is not made public and will only be used to validate your student status.
                                </small>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="username">Password: *</label>
                                <input type="password" name="password" class="form-control" id="password" ng-model="password" maxlength="60" ng-required="updateMode">
                            </div>

                            <h3>Personal Information</h3>
                            <div class="form-group col-lg-12">
                                <label for="firstName">First Name: *</label>
                                <input type="text" name="firstName" class="form-control" id="firstName" ng-model="newUser.firstName" maxlength="255" required>
                            </div>

                            <div class="form-group col-lg-12">
                                <label for="lastName">Last Name: *</label>
                                <input type="text" name="lastName" class="form-control" id="lastName" ng-model="newUser.secondName" maxlength="255" required>
                            </div>

                            <div class="form-group col-lg-12">
                                <label for="country">Country: *</label>
                                <select class="form-control" name="country" id="country" ng-model="newUser.country" required>
                                    <option value="44">UK / Isle of Man / Jersey / Guernsey</option>
                                    <option value="93">Afghanistan</option>
                                    <option value="355">Albania</option>
                                    <option value="213">Algeria</option>
                                    <option value="376">Andorra</option>
                                    <option value="244">Angola</option>
                                    <option value="1264">Anguilla</option>
                                    <option value="1268">Antigua &amp; Barbuda</option>
                                    <option value="54">Argentina</option>
                                    <option value="374">Armenia</option>
                                    <option value="297">Aruba</option>
                                    <option value="61">Australia</option>
                                    <option value="43">Austria</option>
                                    <option value="994">Azerbaijan</option>
                                    <option value="1242">Bahamas</option>
                                    <option value="973">Bahrain</option>
                                    <option value="880">Bangladesh</option>
                                    <option value="1246">Barbados</option>
                                    <option value="375">Belarus</option>
                                    <option value="32">Belgium</option>
                                    <option value="501">Belize</option>
                                    <option value="229">Benin</option>
                                    <option value="1441">Bermuda</option>
                                    <option value="975">Bhutan</option>
                                    <option value="591">Bolivia</option>
                                    <option value="387">Bosnia-Herzegovina</option>
                                    <option value="267">Botswana</option>
                                    <option value="55">Brazil</option>
                                    <option value="1284">British Virgin Islands</option>
                                    <option value="673">Brunei</option>
                                    <option value="359">Bulgaria</option>
                                    <option value="226">Burkina Faso</option>
                                    <option value="257">Burundi</option>
                                    <option value="855">Cambodia</option>
                                    <option value="237">Cameroon</option>
                                    <option value="34">Spain</option>
                                    <option value="238">Cape Verde</option>
                                    <option value="1345">Cayman Islands</option>
                                    <option value="236">Central African Republic</option>
                                    <option value="235">Chad</option>
                                    <option value="56">Chile</option>
                                    <option value="86">China</option>
                                    <option value="57">Colombia</option>
                                    <option value="269">Mayotte Island (Comoros)</option>
                                    <option value="242">Congo</option>
                                    <option value="243">Democratic Republic Congo</option>
                                    <option value="682">Cook Islands</option>
                                    <option value="385">Croatia</option>
                                    <option value="53">Cuba</option>
                                    <option value="357">Cyprus</option>
                                    <option value="420">Czech Republic</option>
                                    <option value="45">Denmark</option>
                                    <option value="253">Djibouti</option>
                                    <option value="1767">Dominica</option>
                                    <option value="670">East Timor</option>
                                    <option value="593">Ecuador</option>
                                    <option value="20">Egypt</option>
                                    <option value="503">El Salvador</option>
                                    <option value="240">Equatorial Guinea</option>
                                    <option value="372">Estonia</option>
                                    <option value="251">Ethiopia</option>
                                    <option value="500">Falkland Islands</option>
                                    <option value="298">Faroe Islands</option>
                                    <option value="679">Fiji</option>
                                    <option value="358">Finland</option>
                                    <option value="33">France</option>
                                    <option value="594">French Guiana</option>
                                    <option value="689">French Polynesia</option>
                                    <option value="241">Gabon</option>
                                    <option value="220">Gambia</option>
                                    <option value="995">Georgia</option>
                                    <option value="49">Germany</option>
                                    <option value="233">Ghana</option>
                                    <option value="350">Gibraltar</option>
                                    <option value="881">Global Mobile Satellite</option>
                                    <option value="30">Greece</option>
                                    <option value="299">Greenland</option>
                                    <option value="1473">Grenada</option>
                                    <option value="590">Guadeloupe</option>
                                    <option value="1671">Guam</option>
                                    <option value="502">Guatemala</option>
                                    <option value="224">Guinea</option>
                                    <option value="592">Guyana</option>
                                    <option value="509">Haiti</option>
                                    <option value="504">Honduras</option>
                                    <option value="852">HongKong</option>
                                    <option value="36">Hungary</option>
                                    <option value="354">Iceland</option>
                                    <option value="91">India</option>
                                    <option value="62">Indonesia</option>
                                    <option value="98">Iran</option>
                                    <option value="964">Iraq</option>
                                    <option value="353">Ireland</option>
                                    <option value="972">Israel</option>
                                    <option value="39">Italy / Vatican City State</option>
                                    <option value="225">Ivory Coast</option>
                                    <option value="1876">Jamaica</option>
                                    <option value="81">Japan</option>
                                    <option value="962">Jordan</option>
                                    <option value="254">Kenya</option>
                                    <option value="82">Korea (South)</option>
                                    <option value="965">Kuwait</option>
                                    <option value="996">Kyrgyzstan</option>
                                    <option value="856">Lao</option>
                                    <option value="371">Latvia</option>
                                    <option value="961">Lebanon</option>
                                    <option value="266">Lesotho</option>
                                    <option value="231">Liberia</option>
                                    <option value="218">Libya</option>
                                    <option value="423">Liechtenstein</option>
                                    <option value="370">Lithuania</option>
                                    <option value="352">Luxembourg</option>
                                    <option value="853">Macau</option>
                                    <option value="389">Macedonia</option>
                                    <option value="261">Madagascar</option>
                                    <option value="265">Malawi</option>
                                    <option value="60">Malaysia</option>
                                    <option value="960">Maldives</option>
                                    <option value="223">Mali</option>
                                    <option value="356">Malta</option>
                                    <option value="596">Martinique</option>
                                    <option value="222">Mauritania</option>
                                    <option value="230">Mauritius</option>
                                    <option value="52">Mexico</option>
                                    <option value="373">Moldova</option>
                                    <option value="377">Monaco (Kosovo)</option>
                                    <option value="976">Mongolia</option>
                                    <option value="382">Montenegro</option>
                                    <option value="1664">Montserrat</option>
                                    <option value="212">Morocco</option>
                                    <option value="258">Mozambique</option>
                                    <option value="95">Myanmar</option>
                                    <option value="264">Namibia</option>
                                    <option value="977">Nepal</option>
                                    <option value="31">Netherlands</option>
                                    <option value="599">Netherlands Antilles</option>
                                    <option value="687">New Caledonia</option>
                                    <option value="64">New Zealand</option>
                                    <option value="505">Nicaragua</option>
                                    <option value="227">Niger</option>
                                    <option value="234">Nigeria</option>
                                    <option value="47">Norway</option>
                                    <option value="968">Oman</option>
                                    <option value="92">Pakistan</option>
                                    <option value="970">Palestine (+970)</option>
                                    <option value="9725">Palestine (+9725)</option>
                                    <option value="507">Panama</option>
                                    <option value="675">Papua New Guinea</option>
                                    <option value="595">Paraguay</option>
                                    <option value="51">Peru</option>
                                    <option value="63">Philippines</option>
                                    <option value="48">Poland</option>
                                    <option value="351">Portugal</option>
                                    <option value="974">Qatar</option>
                                    <option value="262">Reunion</option>
                                    <option value="40">Romania</option>
                                    <option value="7">Russia / Kazakhstan</option>
                                    <option value="250">Rwanda</option>
                                    <option value="1670">Saipan</option>
                                    <option value="1684">Samoa (American)</option>
                                    <option value="685">Samoa (Western)</option>
                                    <option value="378">San Marino</option>
                                    <option value="882">Satellite-Thuraya</option>
                                    <option value="966">Saudi Arabia</option>
                                    <option value="221">Senegal</option>
                                    <option value="381">Serbia</option>
                                    <option value="248">Seychelles</option>
                                    <option value="232">Sierra Leone</option>
                                    <option value="65">Singapore</option>
                                    <option value="421">Slovakia</option>
                                    <option value="386">Slovenia</option>
                                    <option value="252">Somalia</option>
                                    <option value="27">South Africa</option>
                                    <option value="94">Sri Lanka</option>
                                    <option value="1869">St. Kitts And Nevis</option>
                                    <option value="1758">St. Lucia</option>
                                    <option value="1784">St. Vincent</option>
                                    <option value="249">Sudan</option>
                                    <option value="597">Suriname</option>
                                    <option value="268">Swaziland</option>
                                    <option value="46">Sweden</option>
                                    <option value="41">Switzerland</option>
                                    <option value="963">Syria</option>
                                    <option value="886">Taiwan</option>
                                    <option value="992">Tajikistan</option>
                                    <option value="255">Zanzibar</option>
                                    <option value="66">Thailand</option>
                                    <option value="228">Togo</option>
                                    <option value="676">Tonga Islands</option>
                                    <option value="1868">Trinidad and Tobago</option>
                                    <option value="216">Tunisia</option>
                                    <option value="90">Turkey</option>
                                    <option value="993">Turkmenistan</option>
                                    <option value="1649">Turks and Caicos Islands</option>
                                    <option value="256">Uganda</option>
                                    <option value="380">Ukraine</option>
                                    <option value="971">United Arab Emirates</option>
                                    <option value="598">Uruguay</option>
                                    <option value="1">USA / Canada / Dominican Rep. / Puerto Rico</option>
                                    <option value="998">Uzbekistan</option>
                                    <option value="678">Vanuatu</option>
                                    <option value="58">Venezuela</option>
                                    <option value="84">Vietnam</option>
                                    <option value="967">Yemen</option>
                                    <option value="260">Zambia</option>
                                    <option value="263">Zimbabwe</option>
                                </select>
                                <small>The content of this field is kept private and will not be shown publicly</small>
                            </div>

                            <div class="form-group col-lg-12">
                                <label for="universityHEFE">University, H.E or F.E Institution: *</label>
                                    <select class="form-control" name="universityHEFE" id="universityHEFE" ng-model="newUser.university" required>
                                        <option ng-repeat="uni in universities">{{ uni }}</option>
                                    </select>
                            </div>

                            <div class="form-group col-lg-12" ng-if="newUser.university !== 'None'">
                                <label for="status">Status: *</label>
                                    <select class="form-control" name="status" id="status" ng-model="newUser.status" required>
                                        <option>Undergraduate</option>
                                        <option>Postgraduate</option>
                                        <option>Graduate</option>
                                        <option>Alumni</option>
                                        <option>Staff</option>
                                        <option>Event</option>
                                        <option>Organiser</option>
                                        <option>Other</option>
                                        <option>None</option>
                                    </select>
                            </div>

                            <div class="form-group col-lg-12" ng-if="newUser.university !== 'None'
                            && newUser.university !== 'University of Abertay'
                            && newUser.university !== 'Dundee College'
                            && newUser.university !== 'University of St. Andrews'">
                                <label for="school">Which School at the University of Dundee: *</label>
                                <select class="form-control" name="school" id="school" ng-model="newUser.college" required>
                                    <option ng-repeat="school in schools[newUser.university]">{{ school }}</option>
                                </select>
                                <small>If you are matriculated or a staff member at UoD please select your appropriate college.
                                     The content of this field is kept private and will not be shown publicly.</small>
                            </div>

                            <div class="form-group col-lg-12" ng-if="newUser.university !== 'None'
                            && newUser.university !== 'University of Abertay'
                            && newUser.university !== 'Dundee College'
                            && newUser.university !== 'University of St. Andrews'">
                                <label for="degreeSubject">Degree Subject: *</label>
                                <select class="form-control" name="degreeSubject" id="degreeSubject" ng-model="newUser.degree" required>
                                    <option ng-repeat="degree in degrees[newUser.college]">{{ degree }}</option>
                                </select>
                                <!--<input type="text" name="degreeSubject" class="form-control" id="degreeSubject" ng-model="newUser.degree" maxlength="255" required> -->
                            </div>

                            <div class="form-group col-lg-12" ng-if="newUser.university !== 'None'
                            && newUser.university !== 'University of Abertay'
                            && newUser.university !== 'Dundee College'
                            && newUser.university !== 'University of St. Andrews'">
                                <label for="yearOfStudy">Year of Study: *</label>
                                    <select class="form-control" name="yearOfStudy" id="yearOfStudy" ng-model="newUser.year" required>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>Postgraduate</option>
                                    </select>
                            </div>

                            <div class="form-group col-lg-12" ng-if="newUser.university !== 'None'
                            && newUser.university !== 'University of Abertay'
                            && newUser.university !== 'Dundee College'
                            && newUser.university !== 'University of St. Andrews'">
                                <label for="matricNumber">Matriculation Number:</label>
                                <input type="text" name="matricNumber" class="form-control" id="matricNumber" ng-model="newUser.matriculation" maxlength="9">
                            </div>

                            <h3>Young Entrepreneurs Society</h3>
                            <div class="form-group col-lg-12">
                                <label for="yes">
                                    <input type="checkbox" name="yes" id="yes" ng-model="newUser.memberOfSociety"></label>
                                <small>Tick here if you wish to become a member of the Young Entrepreneur Society. For more information on Y.E.S click <a href="http://www.youngentrepreneursociety.org.uk/">here.</a></small>
                            </div>

                            <h3 ng-if="!updateMode">Terms of Use</h3>
                            <div  ng-if="!updateMode" class="form-group col-lg-12">
                                <div style="height: 150px; overflow:auto;">
                                    The personal information provided by you to The Enterprise Gym™ will be used for administrative and management purposes. It may also be used to market related services to you and to track the take up of such services. Your information will also be available to staff of The Enterprise Gym and / or academic staff at the University of Dundee for research purposes. The published results of any research will not identify you individually without your explicit consent and your information will not be passed to any third party unless required by law.

                                    As a member of the Enterprise Gym, you agree that any photos taken during Enterprise Gym activities that may include an image of you may be shown on the web site or used for other promotional purposes including online platforms and printed materials.

                                    You also agree that all knowledge and information learned by you during or through your membership of the E-Gym about other members' business ideas will remain confidential.

                                    The following terms and conditions relate specifically to intellectual property including but not limited to ideas, concepts, inventions, trade marks, copyright and know how.

                                    In order that intellectual property may be exploited to its fullest extent you agree that:

                                    All intellectual property created by you as part of an Enterprise Gym activity, project or event belongs to the University.

                                    The University will assign ownership to you free of charge or other consideration if requested by you to do so within six months of the creation date of the intellectual property or other suitable date previously agreed between the University and yourself.

                                    In the event that you do not take ownership as per the above you will give your full co-operation at the University's expense to do all things as may reasonably be required of you to secure for the University full right, title and interest in the intellectual property in any jurisdiction.
                                </div>

                                <label for="terms">
                                    <input type="checkbox" name="terms" id="terms" ng-model="terms" required> I agree with these terms
                                </label>
                            </div>

                            <div class="form-group col-lg-12" ng-if="!updateMode">
                                <div vc-recaptcha key="recapchaKey" theme="light" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
                                <small>This question is for testing whether you are a human visitor and to prevent automated spam submissions.</small>
                            </div>

                            <button type="submit" class="btn btn-default" ng-disabled="!notAMachine">{{ updateMode ? 'Save' : 'Register Now' }}</button>
                        </form>
                    </div>
                </div>
            </div><!--/LH COLUMN-->

            <!--RH COLUMN-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="containerWithPadding">
                    <sidebar></sidebar>
                </div>
            </div><!--/RH COLUMN-->
        </div>
    </div>
</div>