<div class="new_article_base">
	<div class="page-header">
	  <h1>New Article</h1>
	</div>
	
	<div ng-show="success" class="row alert alert-success alert-dismissible" role="alert">Article Created Successfully</div>
	<div ng-show="error" class="row alert alert-danger alert-dismissible" role="alert">{{ error }}</div>
		
	<div class="row">
		<div class="col-md-3">Article Name</div>
		<div class="col-md-9">
			<input type="text" class="form-control" placeholder="Article Name" aria-describedby="sizing-addon3" ng-model="article.url">
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">Article Title</div>
		<div class="col-md-9">
			<input type="text" class="form-control" placeholder="Article Title" aria-describedby="sizing-addon3" ng-model="article.title">
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3">Page</div>
		<div class="col-md-9">
			<select aria-describedby="Article Page" ng-model="article.pageId">
				<option value="{{ null }}">-- No Page --</option>
				<option ng-repeat="page in pages" value="{{ page.id }}">{{ page.title }}</option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3">Keep Article at the Top</div>
		<div class="col-md-9">
			<input type="checkbox" aria-label="Keep Article at the Top" ng-model="article.sticky">
		</div>
	</div>

	<div class="row">
		<div class="col-md-*">
			<tinymce-wrapper text="article.text"></tinymce-wrapper>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-*">
			<button ng-if="!updateMode" type="button" class="btn btn-default" ng-click="saveArticle()">Create Article</button>
			<button ng-if="updateMode" type="button" class="btn btn-default" ng-click="saveArticle()">Update Article</button>
		</div>
	</div>
</div>