.user-point-record-page-base td, .user-point-record-page-base th, .user-point-record-page-base .panel-heading  {
	text-align: center;
}

.user-point-record-page-base .action-bar {
	text-align: right;
}

.user-point-record-page-base .ng-table-pager {
	margin-top: 10px;
}

.user-point-record-page-base .filter-buttons {
	text-align: right;
}

.date-range-title {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.date-range-input {
	text-align: center;
}