<div ng-controller="user-point-record-admin-page-controller" class="user-point-record-page-base">
	<div class="panel panel-default action-bar">
		<button type="button" class="btn btn-warning btn-sm" ng-click="exportPointRecord()">
		  <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Export
		</button>
	</div>
	
	<div class="panel-group" ng-model="activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
	  <div class="panel panel-primary">
	    <div class="panel-heading" role="tab">
	      <h4 class="panel-title">
	        <a bs-collapse-toggle><span class="glyphicon glyphicon-filter"></span> Filter Results</a>
	      </h4>
	    </div>
	    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
	  	<div class="panel-body">
	  		<div class="row filter-buttons">
	  			<label class="control-label date-range-title">Filter by username:</label><br>
	  			<div class="form-group">
	  				<input type="text" class="form-control date-range-input" ng-model="username" placeholder="Username..." ng-change="filterResult()" />
	  			</div>
	  		</div>
	  	    <div class="row">
	  			<div class="form-group">
	  				<label class="control-label date-range-title"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i> Filter records between date ranges</label><br>
	  				<div class="form-group col-xs-6">
	  					<input type="text" data-date-format="dd-MM-yyyy" class="form-control date-range-input" ng-model="fromDate" data-max-date="{{toDate}}" placeholder="From Date..." bs-datepicker ng-change="filterResult()">
	  				</div>
	  				<div class="form-group col-xs-6">
	  					<input type="text" data-date-format="dd-MM-yyyy" class="form-control date-range-input" ng-model="toDate" data-min-date="{{fromDate}}" placeholder="To Date..." bs-datepicker ng-change="filterResult()">
	  				</div>
	  			</div>
	  		</div>
	  		<div class="row filter-buttons">
	  			<button type="button" class="btn btn-info btn-sm" ng-click="clearDates()">Clear Filters</button>
	  		</div>
	  	</div>
	    </div>
	  </div>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading">Points Record</div>
		<table ng-table-dynamic="tableParams with tableCols" class="table table-condensed table-bordered table-striped" show-filter="false">
			<tr ng-repeat="row in $data">
				<td ng-repeat="col in $columns">{{row[col.field]}}</td>
			</tr>
		</table>
	</div>
</div>
