<div class="quiz_base">
	<div class="row">
		

		<div class="col-xs-12 col-sm-6 col-md-9 " >
			<div class="row panel panel-primary">
					<div class="panel-heading">
						Question {{question.id}}
					</div>
				<div class="panel-body">
					<h3>Question</h3>
					<p data-ng-bind-html="question.question"></p>
					<h3>Alternatives</h3>
					<ol>
						<li ng-repeat=" alt in question.alternatives track by $index">
							{{alt}}
						</li>
					</ol>
					<h3>Answer</h3>
					<p>{{question.answer +1}}</p>

				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-default col-md-offset-3" ui-sref="admin.quiz({id: question.quizID})">Back</button>
					<button type="button" class="btn btn-default" ng-click="deleteQuestion()">Delete question</button>
					<button type="button" class="btn btn-default" ui-sref="admin.edit-question({id: question.id})">Edit question</button>



				</div>

			</div>
		</div>
	</div>
</div>