<div class="quiz_base">
    <div ng-show="error" class="row alert alert-danger alert-dismissible" role="alert">{{ error }}</div>
    <div class="row panel panel-primary" ng-if = "!error">
        <div class="panel-heading">{{ quiz.title }}</div>
        <div class="panel-body">
            <h3>Questions: {{ quiz.numberOfQuestions }}</h3>
            <h3>Attempts allowed: {{ quiz.attemptsAllowed }}</h3>
            <h3>Available:{{ quiz.available === null ? "Yes"  :(quiz.available? " No, already passed" : "No, failed")}}</h3>
            <h3>Passrate: {{ quiz.passrate }}%</h3>
            <button type="button" class="btn btn-primary btn-lg" ng-disabled="quiz.available!== null" ui-sref="take-quiz({id: quiz.id})">Start quiz -> </button>
            <h4>{{ quiz.description }}</h4>
            <h3>Attachment(s):</h3>
            <ul>
                <li ng-repeat="res in quiz.resource">
                    <a href="{{res}}" TARGET="_blank">{{res}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>