.edit_quiz_base {
    width: 80vw;
    height: 100vh;

    margin: 0 auto;
    padding: 0;
}

.edit_quiz_base .edit-quiz-header h1 {
	text-align: center;
}

.edit-quiz_base .description {
	margin-bottom: 30px;
	
	text-align: center;
}
